Repository RedHatQE/openshift-virtualization-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: sig-chaos, sig-infra, sig-iuo, sig-network, sig-scale, sig-storage, sig-virt

.github/labeler.yml:

# Adds a 'sig-<sig>' label when there are changes in specific tests/** subtrees
# and/or their corresponding utilities/*.py files.

sig-chaos:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/chaos/**'

sig-infra:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/infrastructure/**'
      - 'utilities/ssp.py'

sig-iuo:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/{install_upgrade_operators,observability}/**'
      - 'utilities/{hco,monitoring,must_gather,operator}.py'

sig-network:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/network/**'
      - 'libs/net/**'
      - 'utilities/network.py'

sig-scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/scale/**'

sig-storage:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/{data_protection,storage}/**'
      - 'utilities/storage.py'

sig-virt:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/virt/**'
      - 'utilities/virt.py'

Storage migration: increase Windows test timeout, unquarantine Stopped VM test
  tests/storage/storage_migration/conftest.py
  tests/storage/storage_migration/test_mtc_storage_class_migration.py
Labels: sig-storage

Remove closed jira marker (#2051)
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/connectivity/test_pod_network.py
Labels: sig-network

[create-pull-request] automated change
  tests/storage/cdi_import/test_import_registry.py
Labels: sig-storage

[Chaos][OADP] Add case CNV-12011: Reboot the worker node during OADP Backup
  tests/chaos/oadp/conftest.py
  tests/chaos/oadp/test_oadp.py
Labels: sig-chaos

[Chaos][OADP] Add case CNV-12011: Reboot the worker node during OADP Backup
  tests/chaos/oadp/conftest.py
  tests/chaos/oadp/test_oadp.py
  tests/data_protection/oadp/utils.py
  utilities/oadp.py
Labels: sig-chaos, sig-storage

[Chaos][OADP] Add case CNV-12011: Reboot the worker node during OADP Backup
  tests/chaos/oadp/conftest.py
  tests/chaos/oadp/test_oadp.py
  tests/data_protection/oadp/utils.py
  utilities/oadp.py
Labels: sig-chaos, sig-storage

fix concurrent uploads test for s390x.
  libs/infra/images.py
  tests/storage/cdi_upload/test_upload.py
  utilities/constants.py
Labels: sig-storage

add s390x marker to iuo install test
  tests/install_upgrade_operators/product_install/test_install_openshift_virtualization.py
Labels: sig-iuo

[create-pull-request] automated change
  .pre-commit-config.yaml
Labels: none

[create-pull-request] automated change
  tests/virt/node/descheduler/test_descheduler_psi_metrics.py
  tests/virt/node/descheduler/utils.py
Labels: sig-virt

[create-pull-request] automated change
  tests/observability/metrics/conftest.py
  tests/observability/metrics/utils.py
Labels: sig-iuo

use immediate sc name fixture, fix fixture order
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/test_cdi_certificate.py
Labels: sig-storage

Use VM from template with DataSource
  pytest.ini
  tests/cross_cluster_live_migration/conftest.py
  tests/cross_cluster_live_migration/test_cclm.py
  utilities/virt.py
Labels: sig-virt

Remove cdi metrics recording rules tests
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/observability/metrics/utils.py
Labels: sig-iuo

Remove cdi metrics recording rules tests
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/observability/metrics/utils.py
  utilities/storage.py
Labels: sig-iuo, sig-storage

[create-pull-request] automated change
  tests/storage/storage_migration/conftest.py
  tests/storage/storage_migration/test_mtc_storage_class_migration.py
Labels: sig-storage

[create-pull-request] automated change
  tests/storage/cdi_upload/test_upload.py
Labels: sig-storage

[WIP] EUS upgrade fixes
  tests/install_upgrade_operators/product_upgrade/conftest.py
  utilities/operator.py
Labels: sig-iuo

quarantine bgp test
  tests/network/bgp/test_bgp_infra.py
Labels: sig-network

clenup unused fixtures
  tests/cross_cluster_live_migration/conftest.py
Labels: none

Storage migration: increase Windows test timeout, unquarantine Stopped VM test (#2095)
  tests/storage/storage_migration/conftest.py
  tests/storage/storage_migration/test_mtc_storage_class_migration.py
Labels: sig-storage

Fix Forklift edit teardown
  tests/cross_cluster_live_migration/conftest.py
Labels: none

Exclude legacy Windows preferences from common VM preference test
  tests/infrastructure/instance_types/test_common_vm_preference.py
Labels: sig-infra

[create-pull-request] automated change
  libs/net/netattachdef.py
  libs/net/udn.py
  pytest.ini
  tests/network/bgp/README.md
  tests/network/bgp/__init__.py
  tests/network/bgp/conftest.py
  tests/network/bgp/data/frr-config/daemons
  tests/network/bgp/test_bgp_infra.py
  tests/network/conftest.py
  tests/network/flat_overlay/conftest.py
  tests/network/libs/bgp.py
  tests/network/libs/cluster_user_defined_network.py
  tests/network/libs/nodenetworkconfigurationpolicy.py
  tests/network/libs/nodenetworkstate.py
Labels: sig-network

[create-pull-request] automated change
  libs/infra/images.py
  tests/infrastructure/instance_types/supported_os/conftest.py
  tests/infrastructure/instance_types/supported_os/test_windows_os.py
  utilities/constants.py
  utilities/os_utils.py
  utilities/storage.py
  utilities/virt.py
Labels: sig-infra, sig-storage, sig-virt

Add HCO NP tests
  tests/install_upgrade_operators/network_policy/__init__.py
  tests/install_upgrade_operators/network_policy/test_network_policy_components.py
Labels: sig-iuo

[create-pull-request] automated change
  tests/storage/cdi_upload/conftest.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/test_cdi_certificate.py
  utilities/pytest_matrix_utils.py
  utilities/unittests/test_pytest_matrix_utils.py
Labels: sig-storage

Storage: replace skip_if_sc_volume_binding_mode_is_wffc fixture with immediate_matrix (#2099)
  tests/storage/cdi_upload/conftest.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/test_cdi_certificate.py
  utilities/pytest_matrix_utils.py
Labels: sig-storage

Storage: replace skip_if_sc_volume_binding_mode_is_wffc fixture with immediate_matrix (#2099)
  tests/storage/cdi_upload/conftest.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/test_cdi_certificate.py
  utilities/pytest_matrix_utils.py
Labels: sig-storage

Revert "Add basic windows tests using instance types and container images (#1…"
  libs/infra/images.py
  tests/infrastructure/instance_types/supported_os/conftest.py
  tests/infrastructure/instance_types/supported_os/test_windows_os.py
  utilities/constants.py
  utilities/os_utils.py
  utilities/storage.py
  utilities/virt.py
Labels: sig-infra, sig-storage, sig-virt

[create-pull-request] automated change
  tests/infrastructure/instance_types/test_common_vm_preference.py
Labels: sig-infra

tests for aaq operator metrics
  tests/observability/metrics/conftest.py
  tests/virt/utils.py
  utilities/constants.py
Labels: sig-iuo, sig-virt

Storage: replace skip_if_sc_volume_binding_mode_is_wffc fixture with immediate_matrix (#2099)
  tests/storage/cdi_upload/conftest.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/test_cdi_certificate.py
  utilities/pytest_matrix_utils.py
Labels: sig-storage

Storage: replace skip_if_sc_volume_binding_mode_is_wffc fixture with immediate_matrix (#2099)
  tests/storage/cdi_upload/conftest.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/test_cdi_certificate.py
  utilities/pytest_matrix_utils.py
Labels: sig-storage

Dequarantine storage test_upload_token_validity (#2089)
  tests/storage/cdi_upload/test_upload.py
Labels: sig-storage

Dequarantine storage test_upload_token_validity (#2089)
  tests/storage/cdi_upload/test_upload.py
Labels: sig-storage

skip log files that were rotated on the OCP nodes
  utilities/infra.py
Labels: none

[IUO] Add declarativeHotplugVolumes FG
  tests/install_upgrade_operators/constants.py
Labels: sig-iuo

Fix invalid renovate schedule
  renovate.json
Labels: none

Update rhel and fedora images for s390x.
  tests/global_config_s390x.py
  utilities/constants.py
Labels: none
