Repository RedHatQE/openshift-virtualization-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: sig-chaos, sig-infra, sig-iuo, sig-network, sig-scale, sig-storage, sig-virt

.github/labeler.yml:

# Adds a 'sig-<sig>' label when there are changes in specific tests/** subtrees
# and/or their corresponding utilities/*.py files.

sig-chaos:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/chaos/**'

sig-infra:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/infrastructure/**'
      - 'utilities/ssp.py'

sig-iuo:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/{install_upgrade_operators,observability}/**'
      - 'utilities/{hco,monitoring,must_gather,operator}.py'

sig-network:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/network/**'
      - 'libs/net/**'
      - 'utilities/network.py'

sig-scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/scale/**'

sig-storage:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/{data_protection,storage}/**'
      - 'utilities/storage.py'

sig-virt:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/virt/**'
      - 'utilities/virt.py'

[create-pull-request] automated change
  tests/chaos/OWNERS
Labels: sig-chaos

[create-pull-request] automated change
  tests/conftest.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_aaq_metrics.py
  tests/observability/metrics/utils.py
  tests/virt/cluster/aaq/conftest.py
  tests/virt/cluster/aaq/constants.py
  tests/virt/cluster/aaq/test_arq.py
  tests/virt/cluster/aaq/utils.py
  tests/virt/constants.py
  tests/virt/upgrade_custom/aaq/conftest.py
  tests/virt/upgrade_custom/aaq/constants.py
  tests/virt/utils.py
  utilities/constants.py
  utilities/hco.py
Labels: sig-iuo, sig-virt

[create-pull-request] automated change
  utilities/constants.py
Labels: none

Add Plan, Migration, VM
  tests/cross_cluster_live_migration/conftest.py
  tests/cross_cluster_live_migration/test_cclm.py
  utilities/virt.py
Labels: sig-virt

fix os_dict key names
  tests/virt/cluster/common_templates/general/test_diskless_vm.py
  tests/virt/cluster/common_templates/general/test_template_validator.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
Labels: sig-virt

fix comments
  tests/virt/cluster/common_templates/general/test_diskless_vm.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
  tests/virt/cluster/common_templates/windows/test_windows_tablet_device.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
Labels: sig-virt

[virt] virt-cluster tests to use golden data sources
  tests/conftest.py
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/general/test_base_custom_templates.py
  tests/virt/cluster/common_templates/general/test_diskless_vm.py
  tests/virt/cluster/common_templates/general/test_template_validator.py
  tests/virt/cluster/common_templates/rhel/test_rhel_tablet_device.py
  tests/virt/cluster/common_templates/utils.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
  tests/virt/cluster/common_templates/windows/test_windows_tablet_device.py
  tests/virt/cluster/migration_and_maintenance/test_evictionstrategy.py
  tests/virt/cluster/sysprep/test_sysprep.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
  tests/virt/cluster/vm_lifecycle/conftest.py
  tests/virt/cluster/vm_lifecycle/test_vm_data_persistency.py
  tests/virt/cluster/vm_lifecycle/test_vm_run_strategy.py
  tests/virt/conftest.py
  tests/virt/utils.py
Labels: sig-virt

fix test params
  tests/virt/cluster/common_templates/rhel/test_rhel_tablet_device.py
  tests/virt/cluster/common_templates/windows/test_windows_tablet_device.py
Labels: sig-virt

fix imports
  tests/virt/cluster/sysprep/test_sysprep.py
  tests/virt/cluster/vm_lifecycle/test_vm_data_persistency.py
Labels: sig-virt

fix tox
  tests/virt/cluster/common_templates/general/test_base_custom_templates.py
Labels: sig-virt

add cirros_os const
  tests/virt/cluster/common_templates/general/test_diskless_vm.py
  tests/virt/cluster/common_templates/general/test_template_validator.py
  tests/virt/cluster/common_templates/rhel/test_rhel_tablet_device.py
  tests/virt/constants.py
Labels: sig-virt

[create-pull-request] automated change
  tests/chaos/oadp/conftest.py
  tests/chaos/oadp/test_oadp.py
Labels: sig-chaos

Drop CNV-66366 as the bug fixed Signed-off-by: <siwang@redhat.com>
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
Labels: sig-virt

[create-pull-request] automated change
  tests/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/memory_dump/test_memory_dump.py
Labels: sig-iuo, sig-storage

[create-pull-request] automated change
  tests/storage/cdi_clone/conftest.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/conftest.py
  utilities/storage.py
Labels: sig-storage

remove skip_test_if_no_filesystem_sc fixure (#2057)
  tests/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/memory_dump/test_memory_dump.py
Labels: sig-iuo, sig-storage

remove skip_test_if_no_filesystem_sc fixure (#2057)
  tests/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/memory_dump/test_memory_dump.py
Labels: sig-iuo, sig-storage

[create-pull-request] automated change
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
Labels: sig-virt

Deleted runbook US url test and improve DS runbook urls tes (#1989)
  tests/conftest.py
  tests/observability/runbook_url/conftest.py
  tests/observability/runbook_url/test_runbook_url.py
Labels: sig-iuo

Deleted runbook US url test and improve DS runbook urls tes (#1989)
  tests/conftest.py
  tests/observability/runbook_url/conftest.py
  tests/observability/runbook_url/test_runbook_url.py
Labels: sig-iuo

Add basic windows tests using instance types and container images
  libs/infra/images.py
  tests/infrastructure/instance_types/supported_os/conftest.py
  tests/infrastructure/instance_types/supported_os/test_windows_os.py
  utilities/constants.py
  utilities/os_utils.py
  utilities/storage.py
Labels: sig-infra, sig-storage

use win-container-disk bitwarden password
  tests/infrastructure/instance_types/supported_os/conftest.py
  utilities/virt.py
Labels: sig-infra, sig-virt

[create-pull-request] automated change
  tests/conftest.py
  tests/infrastructure/golden_images/conftest.py
  tests/infrastructure/golden_images/test_common_templates_data_volumes.py
Labels: sig-infra

Remove logger warning
  tests/storage/conftest.py
Labels: sig-storage

Storage: retry certificate retrieval
  tests/storage/conftest.py
Labels: sig-storage

Storage: test catch exec error and retry
  tests/storage/conftest.py
Labels: sig-storage

Updated github actions workflow for building fedora images
  .github/workflows/component-builder-publish.yml
  .github/workflows/component-builder.yml
  containers/fedora/README.md
  containers/fedora/build.sh
  containers/fedora/fedora-vars
  containers/fedora/user-data
Labels: none

bump openshift-python-wrapper version to v11.0.93
  uv.lock
Labels: none

feat: Add openshift-python-wrapper to project deps
  pyproject.toml
  uv.lock
Labels: none

[create-pull-request] automated change
  pyproject.toml
  uv.lock
Labels: none

[create-pull-request] automated change
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/observability/metrics/utils.py
  utilities/storage.py
Labels: sig-iuo, sig-storage

[create-pull-request] automated change
  tests/data_protection/oadp/conftest.py
  tests/data_protection/oadp/test_velero.py
Labels: sig-storage

[VIRT] add descheduler test to validate psi values on nodes
  tests/virt/node/descheduler/test_descheduler_psi_metrics.py
  tests/virt/node/descheduler/utils.py
Labels: sig-virt

fix import registry test for s390x.
  tests/storage/cdi_import/test_import_registry.py
Labels: sig-storage

[create-pull-request] automated change
  tests/network/service_mesh/conftest.py
  tests/network/service_mesh/test_service_mesh.py
Labels: sig-network

Dequarantine storage test_upload_token_validity
  tests/storage/cdi_upload/test_upload.py
Labels: sig-storage

fix per review
  tests/storage/conftest.py
Labels: sig-storage

replace skip_if_sc_volume_binding_mode_is_wffc with immediate_matrix
  tests/storage/cdi_upload/conftest.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/test_cdi_certificate.py
  utilities/pytest_matrix_utils.py
  utilities/unittests/test_pytest_matrix_utils.py
Labels: sig-storage

[create-pull-request] automated change
  tests/storage/conftest.py
Labels: sig-storage

Remove cdi metrics recording rules tests
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/observability/metrics/utils.py
  utilities/storage.py
Labels: sig-iuo, sig-storage
