Repository RedHatQE/openshift-virtualization-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: sig-chaos, sig-infra, sig-iuo, sig-network, sig-scale, sig-storage, sig-virt

.github/labeler.yml:

# Adds a 'sig-<sig>' label to any changes in the sig folder or its subfolders
# or under the relevant file(s) under utilities folder

sig-chaos:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/chaos/**'

sig-infra:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/infrastructure/**'
      - 'utilities/ssp.py'

sig-iuo:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/install_upgrade_operators/**'
      - 'tests/observability/**'
      - 'utilities/hco.py'
      - 'utilities/monitoring.py'
      - 'utilities/must_gather.py'
      - 'utilities/operator.py'

sig-network:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/network/**'
      - 'libs/net/**'
      - 'utilities/network.py'

sig-scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/scale/**'

sig-storage:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/data_protection/**'
      - 'tests/storage/**'
      - 'utilities/storage.py'

sig-virt:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/virt/**'
      - 'utilities/virt.py'

fix error msg test_successful_vm_restart_with_cloned_dv
  tests/storage/test_online_resize.py
Labels: sig-storage

Storage: add kshvaika to storage reviewers
  tests/data_protection/OWNERS
  tests/storage/OWNERS
Labels: sig-storage

removes test_upload_https_scratch_space_delete_pvc (#1873)
  tests/storage/test_scratch_space.py
Labels: sig-storage

remove test_upload_https_scratch_space_delete_pvc
  tests/storage/test_scratch_space.py
Labels: sig-storage

Remove rercording rules tests
  tests/conftest.py
  tests/observability/constants.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_instance_type_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_total_created_vms.py
  tests/observability/metrics/test_vm_template_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
  tests/observability/network/__init__.py
  tests/observability/network/conftest.py
  tests/observability/network/test_cnao_observability.py
  utilities/constants.py
Labels: sig-iuo

Remove not relevant tests.
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_cnao_metrics.py
  tests/observability/metrics/test_cpu_usage_metrics.py
  tests/observability/metrics/test_key_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_network_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
Labels: sig-iuo

Change test_common_templates_data_volumes.py sc to be dynamic
  tests/conftest.py
  tests/infrastructure/golden_images/conftest.py
  tests/infrastructure/golden_images/test_common_templates_data_volumes.py
  tests/infrastructure/golden_images/utils.py
Labels: sig-infra

Remove verified CNV-63030.
  tests/install_upgrade_operators/feature_gates/test_default_featuregates.py
Labels: sig-iuo

test datadog
  pyproject.toml
  uv.lock
Labels: none
