Repository RedHatQE/openshift-virtualization-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: sig-chaos, sig-infra, sig-iuo, sig-network, sig-scale, sig-storage, sig-virt

.github/labeler.yml:

# Adds a 'sig-<sig>' label when there are changes in specific tests/** subtrees
# and/or their corresponding utilities/*.py files.

sig-chaos:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/chaos/**'

sig-infra:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/infrastructure/**'
      - 'utilities/ssp.py'

sig-iuo:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/{install_upgrade_operators,observability}/**'
      - 'utilities/{hco,monitoring,must_gather,operator}.py'

sig-network:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/network/**'
      - 'libs/net/**'
      - 'utilities/network.py'

sig-scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/scale/**'

sig-storage:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/{data_protection,storage}/**'
      - 'utilities/storage.py'

sig-virt:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/virt/**'
      - 'utilities/virt.py'

update sample = None
  utilities/storage.py
Labels: sig-storage

fix
  utilities/storage.py
Labels: sig-storage

Add NetworkMap
  tests/cross_cluster_live_migration/conftest.py
Labels: none

[create-pull-request] automated change
  tests/global_config.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_cnao_metrics.py
  tests/observability/metrics/test_cpu_usage_metrics.py
  tests/observability/metrics/test_key_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_network_metrics.py
  tests/observability/metrics/test_virt_resource_mutation_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
  utilities/constants.py
Labels: sig-iuo

[create-pull-request] automated change
  .pre-commit-config.yaml
Labels: none

[create-pull-request] automated change
  tests/infrastructure/instance_types/conftest.py
  tests/infrastructure/instance_types/constants.py
  tests/infrastructure/instance_types/test_vm_preference.py
  tests/infrastructure/instance_types/test_vm_with_instance_and_pref.py
Labels: sig-infra

[create-pull-request] automated change
  tests/network/service_mesh/test_service_mesh.py
Labels: sig-network

Remove NON_EXISTS_IMAGE
  utilities/constants.py
Labels: none

Remove tests with T1 cover (#1894)
  tests/global_config.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_cnao_metrics.py
  tests/observability/metrics/test_cpu_usage_metrics.py
  tests/observability/metrics/test_key_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_network_metrics.py
  tests/observability/metrics/test_virt_resource_mutation_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
  utilities/constants.py
Labels: sig-iuo

Remove rercording rules tests
  tests/conftest.py
  tests/observability/constants.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_instance_type_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_total_created_vms.py
  tests/observability/metrics/test_vm_template_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
  tests/observability/network/__init__.py
  tests/observability/network/conftest.py
  tests/observability/network/test_cnao_observability.py
  tests/observability/virt/conftest.py
  tests/observability/virt/test_virt_metrics_alerts.py
Labels: sig-iuo

[IUO] Add kubevirt-apiserver-proxy-np relate object
  tests/install_upgrade_operators/relationship_labels/constants.py
  utilities/constants.py
Labels: sig-iuo

Add jira CNV-68999
  tests/install_upgrade_operators/relationship_labels/constants.py
  tests/install_upgrade_operators/relationship_labels/test_relationship_labels.py
Labels: sig-iuo

[create-pull-request] automated change
  tests/install_upgrade_operators/relationship_labels/constants.py
  tests/install_upgrade_operators/relationship_labels/test_relationship_labels.py
  utilities/constants.py
Labels: sig-iuo

Storage: remove quarantine for oadp
  tests/data_protection/oadp/test_velero.py
Labels: sig-storage

fix automation issue
  utilities/oadp.py
Labels: none

check boot time instead of ping process
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/test_descheduler.py
  tests/virt/node/descheduler/utils.py
  tests/virt/upgrade/conftest.py
  tests/virt/upgrade/test_upgrade_virt.py
  tests/virt/upgrade/utils.py
  tests/virt/utils.py
Labels: sig-virt

Fix for Descheduler test
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/test_descheduler.py
Labels: sig-virt

change profile to KubeVirtRelieveAndMigrate
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/test_descheduler_psi_metrics.py
  tests/virt/node/descheduler/utils.py
  tests/virt/utils.py
Labels: sig-virt

update according to comments
  tests/scale/test_scale_benchmark.py
  tests/utils.py
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/test_descheduler_psi_metrics.py
  tests/virt/node/descheduler/utils.py
  tests/virt/node/log_verbosity/test_log_virt_launcher.py
  tests/virt/utils.py
  utilities/virt.py
Labels: sig-scale, sig-virt

[create-pull-request] automated change
  tests/scale/test_scale_benchmark.py
  tests/utils.py
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/test_descheduler.py
  tests/virt/node/descheduler/test_descheduler_psi_metrics.py
  tests/virt/node/descheduler/utils.py
  tests/virt/node/log_verbosity/test_log_virt_launcher.py
  tests/virt/upgrade/conftest.py
  tests/virt/upgrade/test_upgrade_virt.py
  tests/virt/upgrade/utils.py
  tests/virt/utils.py
  utilities/virt.py
Labels: sig-scale, sig-virt

Removing remaining alerts (#1771)
  tests/observability/conftest.py
  tests/observability/storage/test_hpp_observability.py
  tests/observability/virt/conftest.py
  tests/observability/virt/test_virt_metrics.py
  tests/observability/virt/test_virt_metrics_alerts.py
Labels: sig-iuo

[create-pull-request] automated change
  tests/conftest.py
  tests/observability/runbook_url/conftest.py
  tests/observability/runbook_url/test_runbook_url.py
Labels: sig-iuo

Remove tests with T1 cover
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_cnao_metrics.py
  tests/observability/metrics/test_cpu_usage_metrics.py
  tests/observability/metrics/test_key_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_network_metrics.py
  tests/observability/metrics/test_virt_resource_mutation_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
Labels: sig-iuo

Drop CNV-66366 as the bug fixed Signed-off-by: <siwang@redhat.com>
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/utils.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
Labels: sig-virt

fix per review
  tests/data_protection/oadp/conftest.py
  utilities/oadp.py
Labels: sig-storage

[create-pull-request] automated change
  utilities/storage.py
Labels: sig-storage

test aaq operator metrics
  tests/conftest.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_aaq_metrics.py
  tests/observability/metrics/utils.py
  tests/virt/cluster/aaq/conftest.py
  tests/virt/cluster/aaq/constants.py
  tests/virt/cluster/aaq/test_arq.py
  tests/virt/cluster/aaq/utils.py
  tests/virt/constants.py
  tests/virt/upgrade_custom/aaq/conftest.py
  tests/virt/upgrade_custom/aaq/constants.py
  tests/virt/utils.py
  utilities/constants.py
  utilities/virt.py
Labels: sig-iuo, sig-virt

addressed reviews
  tests/conftest.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_aaq_metrics.py
  tests/observability/metrics/utils.py
  tests/virt/cluster/aaq/conftest.py
  tests/virt/upgrade_custom/aaq/conftest.py
  utilities/hco.py
  utilities/virt.py
Labels: sig-iuo, sig-virt

Test with updated fedora container image
  utilities/constants.py
Labels: none

[create-pull-request] automated change
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/connectivity/test_pod_network.py
Labels: sig-network

fix tox
  tests/virt/cluster/common_templates/general/test_base_custom_templates.py
Labels: sig-virt

[virt] virt-cluster tests to use golden data sources
  tests/conftest.py
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/general/test_base_custom_templates.py
  tests/virt/cluster/common_templates/general/test_diskless_vm.py
  tests/virt/cluster/common_templates/general/test_template_validator.py
  tests/virt/cluster/common_templates/rhel/test_rhel_tablet_device.py
  tests/virt/cluster/common_templates/utils.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
  tests/virt/cluster/common_templates/windows/test_windows_tablet_device.py
  tests/virt/cluster/migration_and_maintenance/test_evictionstrategy.py
  tests/virt/cluster/sysprep/test_sysprep.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
  tests/virt/cluster/vm_lifecycle/conftest.py
  tests/virt/cluster/vm_lifecycle/test_vm_data_persistency.py
  tests/virt/cluster/vm_lifecycle/test_vm_run_strategy.py
  tests/virt/conftest.py
  tests/virt/utils.py
Labels: sig-virt

fix os_dict key names
  tests/virt/cluster/common_templates/general/test_diskless_vm.py
  tests/virt/cluster/common_templates/general/test_template_validator.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
Labels: sig-virt

fix imports
  tests/virt/cluster/sysprep/test_sysprep.py
  tests/virt/cluster/vm_lifecycle/test_vm_data_persistency.py
Labels: sig-virt

fix test params
  tests/virt/cluster/common_templates/rhel/test_rhel_tablet_device.py
  tests/virt/cluster/common_templates/windows/test_windows_tablet_device.py
Labels: sig-virt

Interface selection across nodes for NNCP in network connectivity tests
  tests/conftest.py
  tests/network/connectivity/conftest.py
Labels: sig-network

remove skip_test_if_no_filesystem_sc fixure
  tests/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/memory_dump/test_memory_dump.py
Labels: sig-iuo, sig-storage

fix import registry test for s390x.
  tests/storage/cdi_import/test_import_registry.py
Labels: sig-storage

Add HCO NP tests
  tests/install_upgrade_operators/network_policy/__init__.py
  tests/install_upgrade_operators/network_policy/test_network_policy_components.py
Labels: sig-iuo

Add sarahbx as reviewer to chaos sig
  tests/chaos/OWNERS
Labels: sig-chaos
