Repository RedHatQE/openshift-virtualization-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: sig-chaos, sig-infra, sig-iuo, sig-network, sig-scale, sig-storage, sig-virt

.github/labeler.yml:

# Adds a 'sig-<sig>' label when there are changes in specific tests/** subtrees
# and/or their corresponding utilities/*.py files.

sig-chaos:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/chaos/**'

sig-infra:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/infrastructure/**'
      - 'utilities/ssp.py'

sig-iuo:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/{install_upgrade_operators,observability}/**'
      - 'utilities/{hco,monitoring,must_gather,operator}.py'

sig-network:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/network/**'
      - 'libs/net/**'
      - 'utilities/network.py'

sig-scale:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/scale/**'

sig-storage:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/{data_protection,storage}/**'
      - 'utilities/storage.py'

sig-virt:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/virt/**'
      - 'utilities/virt.py'

[create-pull-request] automated change
  uv.lock
Labels: none

Test for custom virtctl cli download
  tests/install_upgrade_operators/console_cli_download/conftest.py
  tests/install_upgrade_operators/console_cli_download/test_custom_console_cli_download.py
  tests/install_upgrade_operators/console_cli_download/utils.py
Labels: sig-iuo

Remove test for kube_daemonset_status_number_ready
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_metrics.py
Labels: sig-iuo

net, service mesh: Quarantine failed service mesh tests
  tests/network/service_mesh/test_service_mesh.py
Labels: sig-network

[IUO] Remove jira CNV-64424
  tests/install_upgrade_operators/crds_cluster_readers_role/test_crds_cluster_readers_role.py
Labels: sig-iuo

Test for workqueue metrics
  tests/observability/metrics/test_workqueue_metrics.py
  utilities/constants.py
Labels: sig-iuo

[create-pull-request] automated change
  tests/virt/upgrade/conftest.py
  tests/virt/upgrade/test_upgrade_virt.py
  tests/virt/upgrade/utils.py
Labels: sig-virt

Add HCO NP tests
  tests/install_upgrade_operators/network_policy/__init__.py
  tests/install_upgrade_operators/network_policy/test_network_policy_components.py
Labels: sig-iuo

Fix for Descheduler test
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/test_descheduler.py
Labels: sig-virt

check boot time instead of ping process
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/test_descheduler.py
  tests/virt/node/descheduler/utils.py
  tests/virt/upgrade/conftest.py
  tests/virt/upgrade/test_upgrade_virt.py
  tests/virt/upgrade/utils.py
  tests/virt/utils.py
Labels: sig-virt

change profile to KubeVirtRelieveAndMigrate
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/test_descheduler_psi_metrics.py
  tests/virt/node/descheduler/utils.py
  tests/virt/utils.py
Labels: sig-virt

Quarantined test_vm_from_data_source_missing_default_storage_class
  tests/infrastructure/golden_images/test_common_templates_data_volumes.py
Labels: sig-infra

Change test_common_templates_data_volumes.py sc to be dynamic
  tests/conftest.py
  tests/infrastructure/golden_images/conftest.py
  tests/infrastructure/golden_images/test_common_templates_data_volumes.py
Labels: sig-infra

Deleted runbook US url test and improve DS runbook urls tes
  tests/conftest.py
  tests/observability/runbook_url/conftest.py
  tests/observability/runbook_url/test_runbook_url.py
Labels: sig-iuo

[create-pull-request] automated change
  utilities/constants.py
Labels: none

[IUO] Add jira CNV-64433
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_delete_hco_pod.py
Labels: sig-iuo

[IUO] update 4.20 csv perm
  tests/install_upgrade_operators/csv/csv_permissions_audit/csv-permissions.yaml
Labels: sig-iuo

Create MTV source Provider
  tests/cross_cluster_live_migration/conftest.py
  tests/cross_cluster_live_migration/test_cclm.py
  tests/cross_cluster_live_migration/utils.py
Labels: none

[create-pull-request] automated change
  tests/install_upgrade_operators/csv/csv_permissions_audit/csv-permissions.yaml
Labels: sig-iuo

[create-pull-request] automated change
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_delete_hco_pod.py
Labels: sig-iuo

[create-pull-request] automated change
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_metrics.py
Labels: sig-iuo

[create-pull-request] automated change
  tests/install_upgrade_operators/crds_cluster_readers_role/test_crds_cluster_readers_role.py
Labels: sig-iuo

[IUO] Ignore MTV_VOLUME_POPULATOR_CRDS cluster reader check
  tests/install_upgrade_operators/crds_cluster_readers_role/test_crds_cluster_readers_role.py
Labels: sig-iuo

Storage: sc migration tests - add teardown by default
  tests/storage/storage_migration/conftest.py
Labels: sig-storage

[create-pull-request] automated change
  tests/observability/metrics/test_workqueue_metrics.py
  utilities/constants.py
Labels: sig-iuo

increase pvc bound timeout test_delete_pvc_after_successful_import
  tests/storage/cdi_import/test_import_http.py
Labels: sig-storage

[create-pull-request] automated change
  tests/chaos/oadp/__init__.py
  tests/chaos/oadp/conftest.py
  tests/chaos/oadp/test_oadp.py
  tests/data_protection/oadp/conftest.py
  tests/data_protection/oadp/utils.py
  utilities/constants.py
  utilities/oadp.py
Labels: sig-chaos, sig-storage

[create-pull-request] automated change
  tests/storage/storage_migration/conftest.py
Labels: sig-storage

Add StorageMap
  tests/cross_cluster_live_migration/conftest.py
  tests/cross_cluster_live_migration/test_cclm.py
  tests/cross_cluster_live_migration/utils.py
Labels: none

[4.99] Jira fix versions - vfuture, 4.21.0, 4.21.z
  tox.ini
Labels: none

Add 4.20, 4.20,z
  tox.ini
Labels: none

[WIP] EUS upgrade fixes
  tests/install_upgrade_operators/product_upgrade/conftest.py
Labels: sig-iuo

Remove test for kube_daemonset_status_number_ready (#1978)
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_metrics.py
Labels: sig-iuo

Remove test for kube_daemonset_status_number_ready (#1978)
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_metrics.py
Labels: sig-iuo

Storage: sc migration tests - add teardown by default (#2002)
  tests/storage/storage_migration/conftest.py
Labels: sig-storage

Remove cdi metrics recording rules tests
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/observability/metrics/utils.py
  utilities/storage.py
Labels: sig-iuo, sig-storage

Provider in custom namespace
  tests/cross_cluster_live_migration/conftest.py
  tests/cross_cluster_live_migration/test_cclm.py
Labels: none

[create-pull-request] automated change
  tests/infrastructure/vm_console_proxy/conftest.py
Labels: sig-infra

Remove test_vm_preference.py and associated methods
  tests/infrastructure/instance_types/conftest.py
  tests/infrastructure/instance_types/constants.py
  tests/infrastructure/instance_types/test_vm_preference.py
  tests/infrastructure/instance_types/test_vm_with_instance_and_pref.py
Labels: sig-infra

Storage: Retry artifactory checks
  utilities/storage.py
Labels: sig-storage
