Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-01, with the labels that each got.

#76 Update in-solidarity.yml
  .github/in-solidarity.yml
Labels: size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins

#78 fix docker file
  Dockerfile
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr

#93 Update test name to reflect accurate behavior after live migration
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins

#107 remove jira workflow
  .github/workflows/jira_validation.yml
Labels: size/S, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed

#111 remove pr stats workflow
  .github/workflows/pr_stats.yml
Labels: size/XS, branch-main, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, JIRA:CNV-55002, commented-myakove

#97 Remove unused namespaced_layer2_user_defined_network fixture from tests
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-Anatw

#87 Cleanup README
  README.md
Labels: verified, size/L, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#122 update packages
  uv.lock
Labels: verified, size/XL, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#109 net: Refactor the UDN tests and move generic helpers to libs.net
  libs/net/udn.py
  libs/net/vmspec.py
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/L, can-be-merged, branch-main, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-sbahar619

#113 Support the addition of kubevirtIpamController to ClusterNetworkAddonsOperator
  tests/network/cluster_addons_operator/test_network_addons_operator.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-Anatw

#101 Test for kube_daemonset_status_number_ready
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_metrics.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#118 Pull method created data import cron
  tests/infrastructure/golden_images/update_boot_source/test_ssp_data_import_crons.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#116 remove unnecessary skips from IUO tests
  tests/global_config.py
  tests/install_upgrade_operators/conftest.py
  tests/install_upgrade_operators/deployment/test_hco_deployment_params.py
  tests/install_upgrade_operators/pod_validation/test_pod_spec.py
  utilities/constants.py
Labels: verified, size/S, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir

#129 Test kubevirt_hco_single_stack_ipv6
  tests/observability/metrics/test_general_metrics.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#142 Remove unused timeout member from NetworkAttachmentDefinition class
  libs/net/netattachdef.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-EdDev

#146 remove utility-daemonset_upstream.yaml
  utilities/manifests/utility-daemonset_upstream.yaml
Labels: verified, size/L, needs-rebase, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-Ahmad-Hafe, lgtm-hmeir, lgtm-OhadRevah

#128 Test kubevirt_api_request_deprecated_total metric
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_metrics.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#115 rename masters to control_plane_nodes
  tests/chaos/conftest.py
  tests/chaos/standard/test_standard.py
  tests/chaos/utils.py
  tests/conftest.py
  tests/install_upgrade_operators/node_component/conftest.py
  tests/install_upgrade_operators/node_component/test_deploy_cnv_on_subset_of_nodes_sanity.py
  tests/observability/metrics/test_vms_metrics.py
Labels: verified, size/M, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed

#157 Fix DataImportCron tests based on wrapper fixes
  tests/infrastructure/golden_images/update_boot_source/test_ssp_data_import_crons.py
  tests/storage/checkups/conftest.py
  tests/storage/test_data_import_cron.py
  utilities/constants.py
Labels: verified, size/M, can-be-merged, branch-main, approved-jpeimer, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir

#150 Locate the exact nc process
  utilities/virt.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-EdDev, commented-yossisegev

#160 labeler: Introduce the "labeler" github-action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#152 Skip checkup framework tests due to CNV-55124
  tests/network/checkup_framework/test_checkup_framework.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#164 workflow, labeler: Add checkout action to fetch the labeler config
  .github/workflows/labeler.yml
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#170 labeler: Adjust workflow and configuration
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#133 Add Server and Client classes and UDN test for connectivity preservation after live migration
  libs/net/traffic_generator.py
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/L, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network

#168 Rename master utils fixtures and use control-plane in place of master when possible
  README.md
  tests/chaos/conftest.py
  tests/conftest.py
  tests/deprecated_api/test_deprecation_audit_logs.py
  tests/install_upgrade_operators/node_component/test_deploy_cnv_on_subset_of_nodes_sanity.py
  tests/install_upgrade_operators/node_component/utils.py
  tests/storage/cdi_import/test_import_http.py
  utilities/constants.py
  utilities/hco.py
Labels: verified, size/S, branch-main, commented-dbasunag, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-OhadRevah

#182 Add 4.19.0 to jira target versions
  tox.ini
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-Ahmad-Hafe, lgtm-hmeir, lgtm-geetikakay

#184 Fixing kubevirt_api_request_deprecated_total
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_metrics.py
Labels: verified, size/S, branch-main, approved-myakove, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer

#172 Test for kubevirt_cdi_storageprofile_info
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/observability/metrics/utils.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer

#126 [Chaos] Fix test_pod_delete_migration with virt_launcher failure
  tests/chaos/conftest.py
  tests/chaos/migration/test_migration.py
  tests/chaos/utils.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed

#144 collect screenshot when running_vm call times out
  utilities/data_collector.py
  utilities/virt.py
Labels: size/M, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#195 whitelist alert SSPCommonTemplatesModificationReverted on healthy clu…
  tests/observability/alerts/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#124 Eus upgrade automation
  README.md
  conftest.py
  pytest.ini
  tests/conftest.py
  tests/install_upgrade_operators/conftest.py
  tests/install_upgrade_operators/constants.py
  tests/install_upgrade_operators/launcher_updates/constants.py
  tests/install_upgrade_operators/launcher_updates/test_default_launcher_updates.py
  tests/install_upgrade_operators/launcher_updates/test_negative_kubevirt_update.py
  tests/install_upgrade_operators/launcher_updates/test_reset_custom_values.py
  tests/install_upgrade_operators/launcher_updates/test_update_default_workload_strategy.py
  tests/install_upgrade_operators/launcher_updates/test_update_workload_strategy.py
  tests/install_upgrade_operators/product_install/conftest.py
  tests/install_upgrade_operators/product_upgrade/conftest.py
  tests/install_upgrade_operators/product_upgrade/test_eus_upgrade.py
  tests/install_upgrade_operators/product_upgrade/test_upgrade_iuo.py
  tests/install_upgrade_operators/product_upgrade/utils.py
  tests/install_upgrade_operators/utils.py
  tests/upgrade_params.py
  tests/virt/upgrade/conftest.py
  tox.ini
  utilities/operator.py
Labels: verified, size/XXL, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#189 update packages
  pyproject.toml
  utilities/storage.py
  utilities/virt.py
  uv.lock
Labels: verified, size/L, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#180 Storage: adjust gating tests
  tests/storage/test_cdi_certificate.py
  tests/storage/vm_export/test_vm_export.py
Labels: verified, size/XS, can-be-merged, branch-main, commented-dbasunag, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, commented-jpeimer, tox:verify-bugs-are-open:passed, lgtm-hmeir

#201 [virt] remove nodes_intel_cpu_model fixture
  tests/virt/cluster/longevity_tests/conftest.py
  tests/virt/conftest.py
  tests/virt/node/conftest.py
  tests/virt/node/general/test_wsl2.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr
