Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-05, with the labels that each got.

#886 Fix smoke - point instance type to pick rhel10 datasource instead of rhel10-beta
  tests/global_config.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:failed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed

#464 Add test for connectivity between localnet VMs
  libs/net/netattachdef.py
  libs/net/traffic_generator.py
  libs/net/vmspec.py
  libs/vm/factory.py
  libs/vm/spec.py
  libs/vm/vm.py
  pyproject.toml
  tests/network/libs/cloudinit.py
  tests/network/libs/nodenetworkconfigurationpolicy.py
  tests/network/localnet/__init__.py
  tests/network/localnet/conftest.py
  tests/network/localnet/liblocalnet.py
  tests/network/localnet/test_localnet.py
Labels: verified, size/XL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-Anatw, lgtm-EdDev, sig-network, approved-vsibirsk, lgtm-rnetser, approved-EdDev

#724 Mark network tests that don't require node's additional interfaces
  pytest.ini
  tests/network/cluster_addons_operator/test_network_addons_operator.py
  tests/network/conftest.py
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/connectivity/test_pod_network.py
  tests/network/general/test_dhcp6_configurations_on_ipv4_single_stack_cluster.py
  tests/network/general/test_ip_family_services.py
  tests/network/general/test_network_naming.py
  tests/network/general/test_vm_ips_report.py
  tests/network/jumbo_frame/test_pod_network_ovn.py
  tests/network/kubemacpool/test_kubemacpool.py
  tests/network/migration/test_masquerade_connectivity_after_migration.py
  tests/network/network_policy/test_network_policy.py
  tests/network/ovs_optin/test_ovs_optin.py
  tests/network/service_mesh/test_service_mesh.py
  tests/network/single_node_tests/test_network_sno_deployment.py
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, commented-sbahar619, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-EdDev, commented-yossisegev, sig-network, approved-dshchedr, approved-EdDev

#892 Add `rnetser` in `OWNERS` files and remove `dbasunag`
  OWNERS
  utilities/OWNERS
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-EdDev, approved-vsibirsk

#888 Move rhel10-beta to rhel10 for non smoke test
  tests/global_config.py
  tests/install_upgrade_operators/product_install/constants.py
  tests/install_upgrade_operators/relationship_labels/constants.py
  utilities/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer, lgtm-RoniKishner, commented-vsibirsk, approved-vsibirsk

#898 Remove irrelevant veth removal verification
  tests/network/general/test_veth_removed_after_vms_deleted.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-sbahar619, lgtm-RoniKishner, lgtm-EdDev, sig-network, approved-vsibirsk, approved-EdDev

#866 Mark additional network tests for gating
  tests/network/bond/test_l2_bridge_over_bond.py
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/general/test_bridge_marker.py
  tests/network/general/test_ip_family_services.py
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-sbahar619, lgtm-EdDev, sig-network, approved-EdDev, lgtm-myakove, approved-rnetser

#842 tests, net, nmstate: Drop usage of 'running_vm'
  tests/network/nmstate/conftest.py
  tests/network/nmstate/test_connectivity_after_nmstate_changes.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, approved-EdDev

#826 tests, net, jumbo frame: Drop usage of 'running_vm'
  tests/network/jumbo_frame/conftest.py
  tests/network/jumbo_frame/test_bond.py
  tests/network/jumbo_frame/test_bridge.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-EdDev, approved-rnetser

#896 [4.18][IUO] update gating tests
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_custom_golden_images_namespace.py
  tests/install_upgrade_operators/resource_params/test_hco_status_conditions.py
  tests/install_upgrade_operators/strict_reconciliation/test_operator_defaults.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-Ahmad-Hafe, approved-vsibirsk, branch-cnv-4.18

#862 Added jira marker to tests that failing duo to bugs
  tests/observability/metrics/test_instance_type_metrics.py
  tests/observability/metrics/test_migration_metrics.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser

#838 tests, net, migration: Drop usage of 'running_vm'
  tests/network/migration/test_masquerade_connectivity_after_migration.py
  tests/network/migration/test_migration.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, commented-Anatw, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, lgtm-rnetser, approved-EdDev, approved-rnetser

#822 tests, net, flat_overlay: Drop usage of 'running_vm'
  tests/network/flat_overlay/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-EdDev, approved-rnetser

#850 [virt] remove cpu related programmatic skips
  tests/virt/cluster/aaq/test_aaq_allocation_methods.py
  tests/virt/cluster/aaq/test_arq.py
  tests/virt/cluster/common_templates/centos/test_centos_os_support.py
  tests/virt/cluster/common_templates/fedora/test_fedora_os_support.py
  tests/virt/cluster/common_templates/rhel/test_rhel_os_support.py
  tests/virt/cluster/common_templates/rhel/test_rhel_tablet_device.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
  tests/virt/cluster/longevity_tests/test_multi_vm_multi_migration.py
  tests/virt/cluster/migration_and_maintenance/test_evictionstrategy.py
  tests/virt/cluster/migration_and_maintenance/test_migration_policy.py
  tests/virt/cluster/resource_limits/test_auto_resource_limits.py
  tests/virt/cluster/sysprep/test_sysprep.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
  tests/virt/cluster/vm_lifecycle/test_vm_run_strategy.py
  tests/virt/node/general/test_machinetype.py
  tests/virt/node/general/test_windows_vtpm_bitlocker.py
  tests/virt/node/general/test_wsl2.py
  tests/virt/node/high_performance_vm/test_isolate_emulator_thread.py
  tests/virt/node/hotplug/test_cpu_memory_hotplug.py
  tests/virt/node/log_verbosity/test_log_virt_launcher.py
  tests/virt/node/migration_and_maintenance/test_dedicated_live_migration_network.py
  tests/virt/node/migration_and_maintenance/test_node_maintenance.py
  tests/virt/node/migration_and_maintenance/test_odf_vm_migration.py
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_disk_load_with_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_memory_load_with_migration.py
  tests/virt/node/readonly_disk/test_vm_with_windows_guest_tools.py
  tests/virt/node/workload_density/test_kernel_samepage_merging.py
  tests/virt/node/workload_density/test_swap.py
  tests/virt/upgrade/test_upgrade_virt.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, lgtm-rnetser

#728 Added kubevirt_vmi_node_cpu_affinity test with windows vm
  tests/observability/metrics/test_general_metrics.py
  tests/observability/metrics/utils.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-vsibirsk

#697 Added windows vms for cpu usage metrics tests
  tests/global_config.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_cpu_usage_metrics.py
  utilities/constants.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk, commented-coderabbitai[bot]

#840 tests, net, network-policy: Drop usage of 'running_vm'
  tests/network/network_policy/test_network_policy.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-vsibirsk, approved-EdDev, approved-rnetser

#894 [virt] update virt-sanity to support AMD nodes
  tests/virt/conftest.py
Labels: verified, size/S, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr

#911 Remove setup.py file
  setup.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-vsibirsk

#836 tests, net, macspoof: Drop usage of 'running_vm'
  tests/network/macspoof/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, commented-Anatw, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-EdDev, approved-rnetser

#880 tests, net, owners: Add 'root-approvers: False'
  tests/network/OWNERS
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-EdDev, commented-coderabbitai[bot], approved-rnetser

#909 net, localnet: Mark single-nic and use 'usefixtures'
  tests/network/localnet/test_localnet.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-yossisegev, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, approved-vsibirsk, approved-EdDev, approved-rnetser

#844 tests, net, ovs-bond: Drop usage of 'running_vm'
  tests/network/ovs_bond/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-sbahar619, sig-network, approved-EdDev, approved-rnetser

#913 Move preferences list to a separate file
  tests/infrastructure/instance_types/test_common_vm_preference.py
  tests/infrastructure/instance_types/vm_preference_list.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-RoniKishner, lgtm-jpeimer, commented-vsibirsk, approved-rnetser

#828 tests, net, kmp: Drop usage of 'running_vm'
  tests/network/kubemacpool/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, lgtm-rnetser, approved-EdDev, commented-coderabbitai[bot], approved-rnetser

#846 tests, net, sriov: Drop usage of 'running_vm'
  tests/network/sriov/conftest.py
  tests/network/sriov/test_sriov.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-sbahar619, sig-network, approved-EdDev

#928 Fix misspelling in hot plug test
  tests/infrastructure/instance_types/test_cpu_memory_hotplug_instancetype.py
  tests/utils.py
  tests/virt/node/hotplug/test_cpu_memory_hotplug.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser

#940 Virt: Remove xfail_guest_agent_info_on_win2025 cause bug fixed
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-akri3i, approved-vsibirsk

#820 tests, net, kmp: Drop the usage of 'running_vm'
  tests/network/dry_run/test_dry_run_kubemacpool.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, lgtm-yossisegev, commented-Anatw, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-sbahar619, sig-network, lgtm-rnetser, commented-rnetser, approved-EdDev, commented-coderabbitai[bot]

#917 [virt] fix vm cloning test
  tests/virt/cluster/vm_cloning/test_vm_cloning_negative.py
  tests/virt/cluster/vm_cloning/utils.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-dshchedr

#915 Marking rhel9.6 as latest and update rhel_os_matrix for ELS upgrade
  tests/global_config.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-vsibirsk, commented-rnetser, approved-rnetser

#938 Add cached admin client to reduce api calls in `hpp_matrix`
  utilities/infra.py
  utilities/pytest_matrix_utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer, lgtm-geetikakay, approved-vsibirsk

#930 Add arm64 marker for RHEL10 instancetype tests
  tests/global_config_arm64.py
  tests/infrastructure/instance_types/supported_os/test_rhel_os.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-RoniKishner, lgtm-rnetser, approved-rnetser

#813 Improve logic to deal with generic preferences
  tests/infrastructure/instance_types/test_common_vm_preference.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-RoniKishner, lgtm-rnetser, approved-rnetser

#932 Add ClusterUserDefinedNetwork CR and replace NADs in localnet test
  tests/network/libs/cluster_user_defined_network.py
  tests/network/libs/label_selector.py
  tests/network/localnet/conftest.py
  tests/network/localnet/liblocalnet.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, commented-sbahar619, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, approved-EdDev

#967 Remove unused constants in utilities/constants.py
  utilities/constants.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser

#944 [cnv-4.18] backport localnet test and its dependencies
  libs/net/netattachdef.py
  libs/net/traffic_generator.py
  libs/net/vmspec.py
  libs/vm/factory.py
  libs/vm/spec.py
  libs/vm/vm.py
  pyproject.toml
  tests/network/bond/test_l2_bridge_over_bond.py
  tests/network/cluster_addons_operator/test_network_addons_operator.py
  tests/network/libs/apimachinery.py
  tests/network/libs/cloudinit.py
  tests/network/libs/nodenetworkconfigurationpolicy.py
  tests/network/localnet/__init__.py
  tests/network/localnet/conftest.py
  tests/network/localnet/liblocalnet.py
  tests/network/localnet/test_localnet.py
Labels: verified, size/XXL, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-vsibirsk, branch-cnv-4.18

#797 Update instance type hotplug test data name moved to status
  tests/infrastructure/instance_types/test_cpu_memory_hotplug_instancetype.py
  tests/utils.py
  tests/virt/cluster/aaq/conftest.py
  tests/virt/cluster/resource_limits/test_auto_resource_limits.py
  tests/virt/node/conftest.py
  tests/virt/node/hotplug/test_cpu_memory_hotplug.py
  utilities/ssp.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-RoniKishner, lgtm-geetikakay, approved-rnetser

#834 Fix wait_for_running_pods flakyness
  utilities/infra.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser, commented-rnetser, approved-rnetser

#952 [IUO] Align tests with new channels
  tests/install_upgrade_operators/csv/conftest.py
  tests/install_upgrade_operators/csv/test_immutable_image_using_sha.py
  tests/install_upgrade_operators/csv/test_stable_subscription_channel.py
  tests/install_upgrade_operators/csv/test_subscription_channels.py
  tests/install_upgrade_operators/csv/utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-rnetser

#975 update machine type test for pc-q35-rhel9.6.0
  tests/virt/node/general/constants.py
  tests/virt/node/general/test_machinetype.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, lgtm-rnetser, commented-coderabbitai[bot]

#971 Storage: fix flaky test_public_registry_multiple_data_volume
  tests/storage/cdi_import/conftest.py
  tests/storage/cdi_import/test_import_registry.py
  tests/storage/constants.py
Labels: verified, size/L, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-rnetser

#957 CherryPicked: [cnv-4.18] Move preferences list to a separate file
  tests/infrastructure/instance_types/test_common_vm_preference.py
  tests/infrastructure/instance_types/vm_preference_list.py
Labels: verified, CherryPicked, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-vsibirsk, branch-cnv-4.18

#936 unprivileged client - `exported_kubeconfig` - allow using `~/.kube/config` as tests kubeconfig
  tests/conftest.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, commented-rnetser, commented-coderabbitai[bot]

#977 tests, net, secondary dns: Drop usage of 'running_vm'
  tests/network/secondary_network_dns/test_secondary_network_dns.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, lgtm-rnetser, approved-EdDev, approved-rnetser

#801 Virt: adjust machine_type_from_kubevirt_config to be compatible with arm64 machine type
  tests/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser

#987 [IUO] Add WebhookPvcRendering CDI FG
  tests/install_upgrade_operators/constants.py
Labels: verified, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-rnetser

#669 Automate Fedora VM build for the tests
  .github/workflows/component-builder.yml
  containers/fedora/build.sh
  containers/fedora/user-data
Labels: verified, size/L, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser

#900 Localnet scenario - connectivity over migration on additional bridge
  tests/network/localnet/conftest.py
  tests/network/localnet/liblocalnet.py
  tests/network/localnet/test_default_bridge.py
  tests/network/localnet/test_ovs_bridge.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, commented-Anatw, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, commented-rnetser, approved-EdDev, commented-coderabbitai[bot]

#990 utilities, virt: Add typing to the 'migrate_vm_and_verify' helper
  utilities/virt.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser

#961 Refactor disk-uploader task tests (#313)
  tests/infrastructure/tekton/conftest.py
  tests/infrastructure/tekton/test_tekton_pipeline_disk_uploader.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, branch-cnv-4.18, lgtm-rnetser, approved-rnetser

#848 tests, net, upgrade: Drop usage of 'running_vm'
  tests/network/upgrade/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-yossisegev, commented-EdDev, tox:verify-bugs-are-open:passed, sig-network, lgtm-rnetser, approved-EdDev

#992 CherryPicked: [cnv-4.18] [IUO] Align tests with new channels
  tests/install_upgrade_operators/csv/conftest.py
  tests/install_upgrade_operators/csv/test_immutable_image_using_sha.py
  tests/install_upgrade_operators/csv/test_stable_subscription_channel.py
  tests/install_upgrade_operators/csv/test_subscription_channels.py
  tests/install_upgrade_operators/csv/utils.py
Labels: verified, CherryPicked, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-vsibirsk, branch-cnv-4.18, lgtm-rnetser

#1020 Include rhel.10.s390x in rhel preference list
  tests/infrastructure/instance_types/vm_preference_list.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser

#1007 [IUO] Add CNV-62115 bug
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_delete_hco_pod.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, lgtm-rnetser, approved-rnetser

#1018 Update assert_vm_not_error_status: Wait for VM status to populate before asserting error state
  utilities/virt.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, commented-geetikakay, commented-hmeir, lgtm-hmeir, lgtm-jpeimer, lgtm-RoniKishner, lgtm-rnetser, approved-rnetser

#981 [IUO] mark arm tests
  tests/install_upgrade_operators/console_cli_download/test_disconnected_virtctl.py
  tests/install_upgrade_operators/crds_cluster_readers_role/test_crds_cluster_readers_role.py
  tests/install_upgrade_operators/crypto_policy/test_update_specific_component_crypto_policy.py
  tests/install_upgrade_operators/csv/test_csv.py
  tests/install_upgrade_operators/csv/test_csv_infrastructure_features_disconnected.py
  tests/install_upgrade_operators/csv/test_hco_cr_explainable.py
  tests/install_upgrade_operators/daemonset/test_daemonset_params.py
  tests/install_upgrade_operators/deployment/test_hco_deployment_params.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_custom_golden_images_namespace.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_defaults.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_enable_common_boot_image_import.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_modify_common_templates.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_negative_config.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_non_defaults.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_update_hco_cr.py
  tests/install_upgrade_operators/json_patch/test_json_patch_annotation_cdi.py
  tests/install_upgrade_operators/json_patch/test_json_patch_annotation_cnao.py
  tests/install_upgrade_operators/json_patch/test_json_patch_annotation_kubevirt.py
  tests/install_upgrade_operators/json_patch/test_json_patch_annotation_multiple_updates.py
  tests/install_upgrade_operators/json_patch/test_json_patch_annotation_ssp.py
  tests/install_upgrade_operators/launcher_updates/test_default_launcher_updates.py
  tests/install_upgrade_operators/launcher_updates/test_negative_kubevirt_update.py
  tests/install_upgrade_operators/launcher_updates/test_reset_custom_values.py
  tests/install_upgrade_operators/launcher_updates/test_update_default_workload_strategy.py
  tests/install_upgrade_operators/launcher_updates/test_update_workload_strategy.py
  tests/install_upgrade_operators/must_gather/test_must_gather.py
  tests/install_upgrade_operators/must_gather/test_must_gather_images.py
  tests/install_upgrade_operators/must_gather/test_must_gather_vm_preferences.py
  tests/install_upgrade_operators/must_gather/test_must_gather_vms.py
  tests/install_upgrade_operators/must_gather/test_must_gather_vms_params.py
  tests/install_upgrade_operators/node_component/test_deploy_cnv_on_subset_of_nodes_sanity.py
  tests/install_upgrade_operators/node_component/test_hco_vm.py
  tests/install_upgrade_operators/node_component/test_node_placement_cr.py
  tests/install_upgrade_operators/pod_security/test_pod_security_audit_log.py
  tests/install_upgrade_operators/pod_validation/test_pod_spec.py
  tests/install_upgrade_operators/relationship_labels/test_all_cnv_resources.py
  tests/install_upgrade_operators/relationship_labels/test_relationship_labels.py
  tests/install_upgrade_operators/resource_params/test_hco_status_conditions.py
  tests/install_upgrade_operators/security/scc/test_cnv_pods_scc.py
  tests/install_upgrade_operators/security/scc/test_default_scc.py
  tests/install_upgrade_operators/security/scc/test_unprivileged_client_virt_launcher.py
  tests/install_upgrade_operators/security/selinux/test_selinux_launcher_type.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_cr_defaults_on_stanza_deletion.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_cr_modify_defaults.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_cr_nondefault_fields.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_default_cpu_model.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_optional_fgs_suite.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_related_objects.py
  tests/install_upgrade_operators/strict_reconciliation/test_livemigration_config_update.py
  tests/install_upgrade_operators/strict_reconciliation/test_operator_defaults.py
  tests/install_upgrade_operators/strict_reconciliation/test_operator_modify.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, lgtm-rnetser, approved-rnetser

#988 [IUO] Align crypto policy tests
  tests/install_upgrade_operators/crypto_policy/constants.py
  tests/install_upgrade_operators/crypto_policy/test_crypto_policy_default.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, lgtm-rnetser, approved-rnetser

#1041 [cnv-4.18] [storage] fix flaky test_public_registry_multiple_data_volume
  tests/storage/cdi_import/conftest.py
  tests/storage/cdi_import/test_import_registry.py
  tests/storage/constants.py
Labels: verified, size/L, can-be-merged, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, branch-cnv-4.18, lgtm-rnetser

#996 [4.18] Fix wait_for_running_pods flakyness
  utilities/infra.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-OhadRevah, branch-cnv-4.18, lgtm-rnetser, approved-rnetser

#1003 Virt: Adding Machine Type and HighPerformance test cases to the arm64 env
  tests/virt/node/general/test_machinetype.py
  tests/virt/node/high_performance_vm/test_high_performance_templates.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-rnetser, approved-rnetser

#997 [cnv-4.18] Backport Drop usage of 'running_vm'
  libs/vm/vm.py
  tests/network/bond/test_bond_modes.py
  tests/network/bond/test_l2_bridge_over_bond.py
  tests/network/connectivity/test_pod_network.py
  tests/network/connectivity/utils.py
  tests/network/dry_run/test_dry_run_kubemacpool.py
  tests/network/flat_overlay/utils.py
  tests/network/jumbo_frame/conftest.py
  tests/network/jumbo_frame/test_bond.py
  tests/network/jumbo_frame/test_bridge.py
  tests/network/kubemacpool/conftest.py
  tests/network/l2_bridge/conftest.py
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
  tests/network/l2_bridge/test_ovs_bridge.py
  tests/network/l2_bridge/utils.py
  tests/network/macspoof/conftest.py
  tests/network/migration/test_masquerade_connectivity_after_migration.py
  tests/network/migration/test_migration.py
  tests/network/network_policy/test_network_policy.py
  tests/network/nmstate/conftest.py
  tests/network/nmstate/test_connectivity_after_nmstate_changes.py
  tests/network/ovs_bond/conftest.py
  tests/network/sriov/conftest.py
  tests/network/sriov/test_sriov.py
  tests/network/user_defined_network/test_user_defined_network.py
  utilities/virt.py
Labels: verified, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-EdDev, sig-network, approved-rnetser

#1048 Fixed test_no_new_prometheus_rules
  utilities/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-cnv-qe-bot1

#1029 [virt] drop rwo storage related skips
  pytest.ini
  tests/virt/cluster/common_templates/centos/test_centos_os_support.py
  tests/virt/cluster/common_templates/fedora/test_fedora_os_support.py
  tests/virt/cluster/common_templates/rhel/test_rhel_os_support.py
  tests/virt/cluster/common_templates/rhel/test_rhel_tablet_device.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
  tests/virt/cluster/migration_and_maintenance/test_evictionstrategy.py
  tests/virt/cluster/migration_and_maintenance/test_migration_policy.py
  tests/virt/cluster/sysprep/test_sysprep.py
  tests/virt/cluster/vm_lifecycle/test_vm_run_strategy.py
  tests/virt/conftest.py
  tests/virt/node/general/test_machinetype.py
  tests/virt/node/general/test_windows_vtpm_bitlocker.py
  tests/virt/node/general/test_wsl2.py
  tests/virt/node/high_performance_vm/test_isolate_emulator_thread.py
  tests/virt/node/hotplug/test_cpu_memory_hotplug.py
  tests/virt/node/log_verbosity/test_log_virt_launcher.py
  tests/virt/node/migration_and_maintenance/test_node_maintenance.py
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_disk_load_with_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_memory_load_with_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_unscheduled_node.py
  tests/virt/node/readonly_disk/test_vm_with_windows_guest_tools.py
  tests/virt/node/workload_density/test_kernel_samepage_merging.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, commented-vsibirsk, commented-dshchedr, approved-dshchedr, lgtm-rnetser, commented-rnetser, lgtm-cnv-qe-bot1

#1076 Remove jira skip for CNV-60604
  tests/infrastructure/instance_types/test_cpu_memory_hotplug_instancetype.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-cnv-qe-bot1

#1072 Storage: Don't run libguestfs tests until we fix them
  tests/storage/test_libguestfs.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-duyanyan, lgtm-cnv-qe-bot1

#1078 Skip cx1 tests
  tests/infrastructure/instance_types/test_common_vm_instancetype.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-rnetser, approved-rnetser, lgtm-cnv-qe-bot1

#982 [cnv-4.18] port Automate vgpu vm upgrade test from cnv-tests repo
  tests/virt/conftest.py
  tests/virt/node/gpu/conftest.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_rhel_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_windows_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/utils.py
  tests/virt/node/gpu/vgpu/conftest.py
  tests/virt/node/gpu/vgpu/test_rhel_vm_with_vgpu.py
  tests/virt/node/gpu/vgpu/test_windows_vm_with_vgpu.py
  tests/virt/upgrade/conftest.py
  tests/virt/upgrade/utils.py
  tests/virt/upgrade_custom/vgpu/conftest.py
  tests/virt/upgrade_custom/vgpu/test_vgpu_vm_upgrade.py
  tests/virt/utils.py
  utilities/exceptions.py
Labels: verified, size/XXL, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18, lgtm-rnetser

#1091 tests, net, host-network: Drop usage of 'running_vm'
  tests/network/host_network/vlan/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1083 Mark a customer-0 test
  tests/network/ovs_bond/test_bond_link_down.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-EdDev, sig-network, tox:verify-bugs-are-open:failed, lgtm-rnetser, approved-EdDev, commented-coderabbitai[bot], approved-rnetser, changes-requested-cnv-qe-bot1

#1080 Remove irrelevant host VLAN tests
  tests/network/host_network/vlan/__init__.py
  tests/network/host_network/vlan/conftest.py
  tests/network/host_network/vlan/test_vlan_on_host.py
  tests/network/host_network/vlan/utils.py
Labels: verified, size/XXL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, lgtm-rnetser, approved-EdDev, approved-rnetser

#1097 [4.18] Allowlist istio cm for OSSM
  tests/install_upgrade_operators/relationship_labels/test_all_cnv_resources.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-geetikakay, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1099 [4.18][IUO] Add WebhookPvcRendering CDI FG
  tests/install_upgrade_operators/constants.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-geetikakay, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1074 Refactor vm_from_golden_image to use VirtualMachineForTests
  tests/conftest.py
  tests/infrastructure/golden_images/conftest.py
  tests/infrastructure/golden_images/test_common_templates_data_volumes.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1062 [Install] Add missing resources to expected resources
  tests/install_upgrade_operators/product_install/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-OhadRevah, lgtm-rnetser, approved-rnetser, lgtm-cnv-qe-bot1
