Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-06, with the labels that each got.

#1103 Modify must gather verification
  tests/install_upgrade_operators/must_gather/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1115 [IUO]Allow istio-cni differences for node must gather
  tests/install_upgrade_operators/must_gather/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#989 [IUO] Update install test to support different channels
  tests/install_upgrade_operators/product_install/conftest.py
  tests/install_upgrade_operators/product_install/constants.py
  tests/install_upgrade_operators/product_install/test_install_openshift_virtualization.py
  utilities/infra.py
Labels: verified, size/M, branch-main, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, lgtm-rnetser, approved-rnetser, lgtm-cnv-qe-bot1

#1057 Fix test_migration_metrics_running
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_migration_metrics.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1142 CherryPicked: [cnv-4.18] Fix test vm free memory bytes tests
  tests/observability/metrics/conftest.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, branch-cnv-4.18, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1068 CherryPicked: [cnv-4.18] Fixed test_no_new_prometheus_rules (#1048)
  utilities/constants.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1140 CherryPicked: [cnv-4.18] Fix MemoryDeltaFromRequestedBytes tests flakiness (#762)
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/utils.py
  utilities/monitoring.py
Labels: verified, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1124 [4.18][virt] fix gpu node configuration validation (#1089)
  tests/virt/node/gpu/gpu_pci_passthrough/conftest.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-akri3i, approved-dshchedr, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot

#1128 Add quarantine support
  conftest.py
  pyproject.toml
  pytest.ini
  tests/network/rdp/test_rdp_for_exposed_vm_svc.py
  utilities/constants.py
  uv.lock
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, sig-network, approved-dshchedr, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1156 Add GCP storage class
  tests/global_config_gcp.py
  utilities/constants.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-vsibirsk, lgtm-rnetser, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, lgtm-mperetzred

#1158 Add Quarentine support (cherrypick) cnv 4.18
  conftest.py
  pyproject.toml
  pytest.ini
  tests/network/rdp/test_rdp_for_exposed_vm_svc.py
  utilities/constants.py
  uv.lock
Labels: verified, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot

#1162 Update vm_from_custom_data_import_cron to use flat vm
  tests/infrastructure/golden_images/update_boot_source/test_ssp_data_import_crons.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1070 CherryPicked: [cnv-4.18] Added jira marker to tests that failing duo to bugs (#862)
  tests/observability/metrics/test_instance_type_metrics.py
  tests/observability/metrics/test_migration_metrics.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#584 Adding windows vms for testing network metrics
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_network_metrics.py
  tests/observability/metrics/utils.py
  tests/virt/utils.py
  utilities/network.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-hmeir, sig-network, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1183 [IUO] Quarantine cert renewal test
  tests/install_upgrade_operators/cert_renewal/test_cert_renewal.py
Labels: size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1122 [Chaos] Quarantine unstable/(need to update) cases
  tests/chaos/migration/test_migration.py
  tests/chaos/standard/test_standard.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1186 Storage: quarantine failing restricted namespace cloning test
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning_vms.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-Ahmad-Hafe, approved-vsibirsk, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#906 Tests for filesystem and disk allocated size metrics
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1172 Fix TestMigrationMetrics test class
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_migration_metrics.py
  tests/observability/metrics/utils.py
  tests/observability/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1181 [IUO] Add jira 63351 - rhel10-beta leftovers
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/conftest.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_custom_golden_images_namespace.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_related_objects.py
  tests/install_upgrade_operators/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, commented-hmeir, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1197 Update uv.lock file
  uv.lock
Labels: verified, size/XXL, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1207 Replace hardcoded image size
  tests/storage/cdi_import/test_import_http.py
  tests/storage/cdi_upload/test_upload_virtctl.py
Labels: verified, size/S, can-be-merged, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-s390x

#1188 Fix TestVmiNetworkMetricsLinux tests flakiness
  tests/observability/metrics/conftest.py
  tests/observability/metrics/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot

#1205 Remove use of templates on vm_from_golden_image_multi_storage
  tests/infrastructure/golden_images/test_common_templates_data_volumes.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1219 CherryPicked: [4.18]Fix TestVmiNetworkMetricsLs flakiness
  tests/observability/metrics/conftest.py
  tests/observability/metrics/utils.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-hmeir, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1221 test: enable more tests for s390x
  tests/deprecated_api/test_deprecation_audit_logs.py
  tests/virt/cluster/common_templates/general/test_base_template.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-s390x

#1230 Remove TestVmCPrefOverride
  tests/infrastructure/instance_types/test_vm_override_pref.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1232 Add io2 storage class to default storage class of ARM64 config
  tests/global_config_arm64.py
  tests/global_config_aws.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1228 [Chaos][GPFS] Add GPFS mark for skipping ODF cases in GPFS clusters
  tests/chaos/standard/test_standard.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1236 pytest-html: add errors and update quarentine text
  conftest.py
  pytest.ini
  utilities/constants.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1258 [Cherry-pick cnv-4.18] Remove irrelevant host VLAN tests (#1080)
  tests/network/host_network/vlan/__init__.py
  tests/network/host_network/vlan/conftest.py
  tests/network/host_network/vlan/test_vlan_on_host.py
  tests/network/host_network/vlan/utils.py
Labels: verified, size/XXL, can-be-merged, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, commented-yossisegev, sig-network, approved-vsibirsk, branch-cnv-4.18, lgtm-myakove, lgtm-openshift-virtualization-qe-bot

#1273 Remove closed bug
  tests/install_upgrade_operators/must_gather/test_must_gather_vms.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-akri3i, approved-vsibirsk, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1271 Storage gating: fix test_upload_https_scratch_space_delete_pvc return value
  tests/storage/test_scratch_space.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, lgtm-stesrn

#1265 Add an option to pass data-collector output dir
  conftest.py
  docs/RUNNING_TESTS.md
  utilities/data_collector.py
  utilities/database.py
Labels: verified, size/M, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-yossisegev, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot

#1254 [IUO]Quarantine free memory bytes metric test
  tests/observability/metrics/test_vms_metrics.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-openshift-virtualization-qe-bot

#1242 Update Cirros image to Fedora into test_clone.py
  tests/storage/cdi_clone/conftest.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/utils.py
Labels: verified, size/M, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1293 Storage: fix import, fix collection
  tests/storage/cdi_clone/conftest.py
  tests/storage/conftest.py
  tests/storage/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-duyanyan, lgtm-rnetser, approved-rnetser, lgtm-josemacassan

#1283 [IUO]Update 4.18.8 csv permissions
  tests/install_upgrade_operators/csv/csv_permissions_audit/csv-permissions.yaml
Labels: verified, size/XS, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1300 Storage: add reviewers
  tests/data_protection/OWNERS
  tests/storage/OWNERS
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#890 [VIRT] Update for descheduler test - use PSI metrics
  conftest.py
  pytest.ini
  tests/conftest.py
  tests/virt/conftest.py
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/constants.py
  tests/virt/node/descheduler/test_descheduler.py
  tests/virt/node/descheduler/test_descheduler_psi_metrics.py
  tests/virt/node/descheduler/utils.py
  tests/virt/utils.py
  utilities/constants.py
  utilities/infra.py
  utilities/operator.py
Labels: verified, size/XXL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1247 net tests, hotplug: use unprivileged client for migration
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-yossisegev, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-EdDev, commented-yossisegev, sig-network, commented-rnetser, approved-EdDev, commented-servolkov, branch-cnv-4.19

#1312 pytest-html: add more faliure reasons
  conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, lgtm-openshift-virtualization-qe-bot

#1093 tests, net, service-mesh: Drop usage of 'running_vm'
  tests/network/service_mesh/conftest.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-hmeir, sig-network, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1308 Update qe-cnv-tests-fedora image for s390x built from current changes on PR #1148
  utilities/constants.py
Labels: verified, size/XS, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:failed, lgtm-rnetser, approved-rnetser, changes-requested-openshift-virtualization-qe-bot, branch-s390x

#1316 Update assert_vm_not_error_status: Wait for VM status to populate before asserting error state (#1018)
  utilities/virt.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-vsibirsk, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot
