Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-08, with the labels that each got.

#1411 Add centos tests with common instance types
  tests/global_config_arm64.py
  tests/global_config_s390x.py
  tests/global_config_x86_64.py
  tests/infrastructure/instance_types/supported_os/conftest.py
  tests/infrastructure/instance_types/supported_os/test_centos_os.py
  utilities/os_utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1643 Add unittests to utilities/ modules - phase 1
  .flake8
  .github/workflows/utilities-unit-tests.yml
  pyproject.toml
  tox.ini
  utilities/operator.py
  utilities/unittests/TODO.md
  utilities/unittests/__init__.py
  utilities/unittests/conftest.py
  utilities/unittests/pytest.ini
  utilities/unittests/test_architecture.py
  utilities/unittests/test_bitwarden.py
  utilities/unittests/test_console.py
  utilities/unittests/test_constants.py
  utilities/unittests/test_database.py
  utilities/unittests/test_exceptions.py
  utilities/unittests/test_logger.py
  utilities/unittests/test_must_gather.py
  utilities/unittests/test_pytest_matrix_utils.py
  utilities/unittests/test_vnc_utils.py
  uv.lock
Labels: verified, size/XXL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, commented-rnetser, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1645 [VIRT] Use latest windows image in postcopy tests
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-geetikakay, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot

#1598 cherry-pick: Update instanceType tests
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_instance_type_metrics.py
  tests/observability/metrics/utils.py
  utilities/constants.py
Labels: verified, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1682 CherryPicked: [cnv-4.19] [CNV-66035]increase must-gather timeout values to prevent collection failures
  tests/install_upgrade_operators/must_gather/conftest.py
  utilities/must_gather.py
Labels: verified, size/XS, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1630 Fix flaky behavior for test_data_import_cron_deletion_on_opt_out
  tests/infrastructure/golden_images/update_boot_source/conftest.py
  tests/infrastructure/golden_images/update_boot_source/test_ssp_common_templates_boot_sources.py
  tests/infrastructure/golden_images/update_boot_source/test_ssp_data_import_crons.py
  tests/infrastructure/golden_images/update_boot_source/utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, commented-geetikakay, lgtm-RoniKishner, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1656 utilities - Add adidtional utilities unit tests
  .github/workflows/utilities-unit-tests.yml
  pyproject.toml
  utilities/unittests/TODO.md
  utilities/unittests/conftest.py
  utilities/unittests/test_data_collector.py
  utilities/unittests/test_monitoring.py
  utilities/unittests/test_os_utils.py
  utilities/unittests/test_pytest_utils.py
  utilities/unittests/test_ssp.py
Labels: verified, size/XXL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, commented-rnetser, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1619 Use nodeAffinity instead of nodeSelector in test VM specification.
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/migration_and_maintenance/test_vm_unscheduled_node.py
  tests/virt/node/workload_density/test_swap.py
  tests/virt/utils.py
  utilities/virt.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser, lgtm-openshift-virtualization-qe-bot

#1708 [virt] fix vm from template
  utilities/virt.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1559 [CNV-64462]update enableMultiArchBootImageImport FG
  tests/install_upgrade_operators/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1667 Add fedora support with common instance types
  tests/global_config_x86_64.py
  tests/infrastructure/instance_types/supported_os/conftest.py
  tests/infrastructure/instance_types/supported_os/test_fedora_os.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1649 [VIRT] quarantine KSM tests due to the bug
  tests/virt/node/workload_density/test_kernel_samepage_merging.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, commented-dshchedr, lgtm-rnetser, lgtm-openshift-virtualization-qe-bot

#1699 Add readme and code assist annotations on unittests for utilities
  utilities/unittests/README.md
  utilities/unittests/TODO.md
  utilities/unittests/conftest.py
  utilities/unittests/pytest.ini
  utilities/unittests/test_architecture.py
  utilities/unittests/test_bitwarden.py
  utilities/unittests/test_console.py
  utilities/unittests/test_constants.py
  utilities/unittests/test_data_collector.py
  utilities/unittests/test_database.py
  utilities/unittests/test_exceptions.py
  utilities/unittests/test_logger.py
  utilities/unittests/test_monitoring.py
  utilities/unittests/test_must_gather.py
  utilities/unittests/test_os_utils.py
  utilities/unittests/test_pytest_matrix_utils.py
  utilities/unittests/test_pytest_utils.py
  utilities/unittests/test_ssp.py
  utilities/unittests/test_vnc_utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-geetikakay, approved-dshchedr, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1712 Enforce nmstate verification only on on-prem clusters
  tests/conftest.py
  tests/install_upgrade_operators/product_install/conftest.py
  utilities/infra.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, lgtm-yossisegev, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot

#1695 [CNV-27452]Adding missing deployments not checked on node placement tests
  tests/install_upgrade_operators/node_component/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1706 Replace node_selector with build_node_affinity_dict in GPU tests
  tests/virt/node/gpu/conftest.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_rhel_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/vgpu/test_rhel_vm_with_vgpu.py
  tests/virt/upgrade/utils.py
  tests/virt/upgrade_custom/vgpu/conftest.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1637 [virt] update matrix os vm fixtures
  tests/utils.py
  tests/virt/cluster/common_templates/centos/test_centos_os_support.py
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/fedora/test_fedora_os_support.py
  tests/virt/cluster/common_templates/general/test_template_validator.py
  tests/virt/cluster/common_templates/rhel/test_rhel_os_support.py
  tests/virt/cluster/common_templates/rhel/test_rhel_tablet_device.py
  tests/virt/cluster/common_templates/utils.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
  tests/virt/cluster/common_templates/windows/test_windows_tablet_device.py
  utilities/constants.py
  utilities/os_utils.py
Labels: verified, size/XXL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1704 Adjust inference config for windows machines
  tests/infrastructure/golden_images/update_boot_source/test_ssp_data_import_crons.py
  utilities/virt.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1665 Rename storage_class_for_storage_migration_b to storage_class_b
  tests/global_config.py
  tests/global_config_arm64.py
  tests/global_config_aro.py
  tests/global_config_aws.py
  tests/global_config_gcp.py
  tests/global_config_ibm_spectrum_sc.py
  tests/global_config_lvms.py
  tests/global_config_nfs.py
  tests/global_config_oci.py
  tests/global_config_rh_it.py
  tests/storage/storage_migration/constants.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1653 Add s390x marker for the initial tier2 storage tests.
  tests/infrastructure/instance_types/supported_os/test_rhel_os.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/cdi_import/test_import_http.py
  tests/storage/cdi_import/test_import_registry.py
  tests/storage/cdi_upload/test_upload.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/checkups/test_checkups.py
  tests/storage/checkups/test_checkups_negative.py
  tests/storage/golden_image/test_cached_snapshots.py
  tests/storage/golden_image/test_golden_image.py
  tests/storage/hpp/test_hostpath.py
  tests/storage/hpp/test_hpp_csi_cr.py
  tests/storage/hpp/test_hpp_node_placement.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning_vms.py
  tests/storage/snapshots/test_snapshots.py
  tests/storage/test_cdi_certificate.py
  tests/storage/test_cdi_config.py
  tests/storage/test_cdi_resources.py
  tests/storage/test_data_import_cron.py
  tests/storage/test_disk_preallocation.py
  tests/storage/test_hotplug.py
  tests/storage/test_libguestfs.py
  tests/storage/test_local_storage.py
  tests/storage/test_online_resize.py
  tests/storage/test_priority_class.py
  tests/storage/test_wffc.py
  tests/storage/vm_export/test_vm_export.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, commented-vamsikrishna-siddu

#1686 [4.19] Quarantine a flaky gating test
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-Anatw, commented-yossisegev, sig-network, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19, lgtm-servolkov

#1537 [service mesh] fix: correct service mesh traffic blocking test
  tests/network/service_mesh/test_service_mesh.py
  tests/network/service_mesh/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot, lgtm-servolkov

#1724 renovate - restrict updates only to `main` and `cnv-4.99`
  renovate.json
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-vsibirsk, commented-rnetser, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1726 remove renovate from released branches
  renovate.json
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19, cherry-pick-cnv-4.18

#1729 [virt] fix common template datasource check
  tests/virt/cluster/common_templates/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-vsibirsk, approved-dshchedr, lgtm-rnetser, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1539 [STORAGE] [MAIN] adjust test fs_overhead , rounded to nearest MI and add small tolerance
  tests/storage/fs_overhead/test_fs_overhead.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, lgtm-openshift-virtualization-qe-bot

#1651 [main][storage] Fix race condition in resize wait logic
  tests/storage/test_online_resize.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1733 Storage: remove hpp tests
  tests/storage/hpp/test_hostpath.py
Labels: verified, size/M, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-Ahmad-Hafe, lgtm-jpeimer, lgtm-openshift-virtualization-qe-bot, lgtm-josemacassan

#1671 fix: improve condition check in assert_restart_required_condition
  tests/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1759 skip flaky test test_data_import_cron_deletion_on_opt_out
  tests/infrastructure/golden_images/update_boot_source/test_ssp_data_import_crons.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser

#1716 [VIRT] fix for flaky swap test
  tests/virt/conftest.py
  tests/virt/node/descheduler/conftest.py
  tests/virt/node/descheduler/constants.py
  tests/virt/node/descheduler/test_descheduler.py
  tests/virt/node/descheduler/utils.py
  tests/virt/node/gpu/conftest.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_rhel_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/vgpu/test_rhel_vm_with_vgpu.py
  tests/virt/node/migration_and_maintenance/test_vm_unscheduled_node.py
  tests/virt/node/workload_density/test_swap.py
  tests/virt/upgrade_custom/vgpu/conftest.py
  tests/virt/utils.py
Labels: verified, size/XL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot, lgtm-SiboWang1997

#1805 Change implementation of kubevirt_vmi_status_addresses test
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_vms_metrics.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot

#1796 [virt] drop sa tests
  tests/virt/cluster/service_account/test_service_account.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, lgtm-openshift-virtualization-qe-bot, lgtm-SiboWang1997

#1785 [virt] update restart guest agent
  tests/virt/cluster/common_templates/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-akri3i, approved-dshchedr, lgtm-openshift-virtualization-qe-bot, lgtm-SiboWang1997

#1811 Storage: Flaky test - test_successful_upload_token_validity - need to investigate
  tests/storage/cdi_upload/test_upload.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-openshift-virtualization-qe-bot

#1828 Update wrapper to 11.0.90, adjust smoke tests
  tests/storage/golden_image/test_cached_snapshots.py
  utilities/storage.py
  uv.lock
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot

#1781 [virt] drop memory checks from oom and longevity tests
  tests/virt/cluster/vm_lifecycle/test_vm_longevity.py
  tests/virt/node/general/test_oom.py
  tests/virt/utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr, lgtm-openshift-virtualization-qe-bot, lgtm-SiboWang1997

#1833 Storage: quarantine OADP tests
  tests/data_protection/oadp/test_velero.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, lgtm-stesrn

#1765 [4.18] Storage: remove duplicate public registry test (#1750)
  tests/storage/cdi_import/test_import_registry.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot, lgtm-josemacassan

#1794 [4.19]Changing test implementation for metric kubevirt_nodes_with_kvm (#1731)
  tests/observability/metrics/test_metrics.py
  tests/observability/virt/conftest.py
  tests/observability/virt/test_virt_metrics_alerts.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1669 Virt: Add test cases to confirm that guest agent online when reboot the vm
  tests/virt/cluster/common_templates/centos/test_centos_os_support.py
  tests/virt/cluster/common_templates/fedora/test_fedora_os_support.py
  tests/virt/cluster/common_templates/rhel/test_rhel_os_support.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
  tests/virt/cluster/vm_lifecycle/test_vm_data_persistency.py
  utilities/virt.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-SiboWang1997, approved-dshchedr, commented-coderabbitai[bot]

#1771 Removing unnecessary alerts from T2.
  tests/observability/conftest.py
  tests/observability/storage/test_hpp_observability.py
  tests/observability/virt/conftest.py
  tests/observability/virt/test_virt_metrics.py
  tests/observability/virt/test_virt_metrics_alerts.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot

#1856 [MIAN][STORAGE] remove test test_vmi_image_size from Tier2
  tests/storage/cdi_import/test_import_http.py
Labels: verified, size/M, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer

#1854 Storage: remove virt-launchers cleanup from storage migration tests
  tests/storage/storage_migration/conftest.py
  tests/storage/storage_migration/utils.py
Labels: verified, size/S, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-Ahmad-Hafe, lgtm-hmeir, lgtm-duyanyan, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1852 Removing TestVMICountMetric test class
  tests/observability/metrics/test_vms_metrics.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1889 fix: improve cherry-pick workflow for cnv-4.99 branch
  .github/workflows/cherrypick-to-4.99.yml
Labels: size/M, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-rnetser, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1873 Storage: remove test_upload_https_scratch_space_delete_pvc
  tests/storage/test_scratch_space.py
Labels: verified, size/L, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-openshift-virtualization-qe-bot, lgtm-josemacassan

#1877 Quarentine test_connectivity_is_preserved_during_client_live_migration
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, lgtm-servolkov

#1845 Storage: remove disk location check
  tests/storage/cdi_import/test_import_http.py
  tests/storage/hpp/test_hostpath.py
  tests/storage/utils.py
Labels: verified, size/M, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-RoniKishner, commented-dalia-frank, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot, lgtm-kshvaika

#1862 [4.18] Remove test_dhcp6_configurations_on_ipv4_single_stack_cluster.py (#1831)
  tests/network/general/test_dhcp6_configurations_on_ipv4_single_stack_cluster.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1557 [CNV-67126]Update 4.20 CSV permissions
  tests/install_upgrade_operators/csv/csv_permissions_audit/csv-permissions.yaml
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-OhadRevah, lgtm-rnetser, approved-rnetser

#1898 [4.19]Remove verified CNV-63030.
  tests/install_upgrade_operators/feature_gates/test_default_featuregates.py
Labels: verified, size/XS, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1661 Storage: Increase DataImportCron PVC clone timeout to 10 minutes
  tests/storage/data_import_cron/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser

#1891 Storage: add kshvaika to storage reviewers
  tests/data_protection/OWNERS
  tests/storage/OWNERS
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot, lgtm-josemacassan

#1723 `conformance` - Add support for unsupported storage classes
  conftest.py
  libs/storage/__init__.py
  libs/storage/config.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, commented-dshchedr, approved-dshchedr, commented-rnetser, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, cherry-pick-cnv-4.99

#1911 [4.19] Legacy windows preferences
  tests/infrastructure/instance_types/vm_preference_list.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1906 ci: Fix cherry 4.99 cherry-pick fg flow
  .github/workflows/cherrypick-to-4.99.yml
Labels: size/XL, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-openshift-virtualization-qe-bot

#1921 Storage: quarantine storage migration test with a Stopped VM
  tests/storage/storage_migration/test_mtc_storage_class_migration.py
Labels: verified, size/XS, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot, sig-storage
