Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-03, with the labels that each got.

#381 CherryPicked: [cnv-4.18] remove dpdk, jumbo frame, service mesh related skips
  pytest.ini
  tests/network/checkup_framework/test_checkup_dpdk.py
  tests/network/conftest.py
  tests/network/flat_overlay/test_flat_overlay.py
  tests/network/jumbo_frame/test_bond.py
  tests/network/jumbo_frame/test_bridge.py
  tests/network/jumbo_frame/test_pod_network_ovn.py
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
  tests/network/service_mesh/conftest.py
  tests/network/service_mesh/test_service_mesh.py
  tests/network/sriov/conftest.py
  tests/network/sriov/test_sriov.py
Labels: verified, CherryPicked, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#178 Storage: refactor restricted_namespace_cloning tests, reduce execution time from 60 minutes to 20
  tests/storage/constants.py
  tests/storage/restricted_namespace_cloning/conftest.py
  tests/storage/restricted_namespace_cloning/constants.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning_vms.py
  tests/storage/restricted_namespace_cloning/utils.py
  tests/storage/snapshots/conftest.py
  tests/storage/snapshots/test_snapshots.py
  tests/storage/utils.py
Labels: verified, size/XXL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-jpeimer, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-duyanyan

#392 don't require root approvers for storage and virt
  tests/data_protection/OWNERS
  tests/storage/OWNERS
  tests/virt/OWNERS
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#389 Test for kubevirt_vm_create_date_timestamp_seconds
  tests/observability/metrics/test_vms_metrics.py
Labels: verified, size/XS, needs-rebase, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-Ahmad-Hafe, lgtm-jpeimer, approved-dshchedr

#372 [VIRT] Updates for swap test
  conftest.py
  pytest.ini
  tests/conftest.py
  tests/virt/node/workload_density/test_swap.py
Labels: verified, size/S, needs-rebase, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#361 [Improvement]:Use utilits.monitoring to get prometheus metric value
  tests/observability/metrics/test_vms_metrics.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#405 change ipv4/ipv6 matrix related skips to fail
  tests/network/conftest.py
  tests/network/connectivity/test_pod_network.py
  tests/network/migration/test_migration.py
Labels: verified, size/XS, needs-rebase, branch-main, commented-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-sbahar619, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-EdDev, changes-requested-yossisegev, sig-network, approved-vsibirsk

#403 update skip fixtures to use pytest.fail
  tests/network/connectivity/conftest.py
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/general/test_dhcp6_configurations_on_ipv4_single_stack_cluster.py
Labels: verified, size/XS, can-be-merged, branch-main, commented-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer, changes-requested-yossisegev, sig-network, approved-dshchedr

#412 CherryPicked: [cnv-4.18] Triage kubevirt_vmi_migration_metrics (#316)
  tests/conftest.py
  tests/observability/metrics/test_migration_metrics.py
Labels: verified, size/S, can-be-merged, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-dshchedr, branch-cnv-4.18

#420 update tox for mark-automated-polarion
  tox.ini
  uv.lock
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#427 CherryPicked: [cnv-4.18] update skip fixtures to use pytest.fail
  tests/network/connectivity/conftest.py
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/general/test_dhcp6_configurations_on_ipv4_single_stack_cluster.py
Labels: verified, CherryPicked, size/XS, can-be-merged, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, branch-cnv-4.18

#424 Update crypto-policy tests for ARM cluster
  tests/install_upgrade_operators/strict_reconciliation/test_hco_default_cpu_model.py
Labels: verified, size/S, needs-rebase, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#428 update packages and tox
  tox.ini
  uv.lock
Labels: verified, size/L, needs-rebase, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#416 Fix upgrade_custom collection
  conftest.py
  tox.ini
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#355 Fix test disk expand then clone fail
  tests/storage/test_online_resize.py
Labels: verified, size/S, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed

#432 [4.18] Wait for node update when creating linux bridge
  tests/conftest.py
  tests/install_upgrade_operators/must_gather/conftest.py
  utilities/network.py
Labels: verified, size/M, can-be-merged, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, sig-network, approved-vsibirsk, branch-cnv-4.18

#436 CherryPicked: [cnv-4.18] Fix test disk expand then clone fail
  tests/storage/test_online_resize.py
Labels: verified, CherryPicked, size/S, can-be-merged, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, branch-cnv-4.18

#434 [virt] remove test config related programmatic skips
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/rhel/test_rhel_os_support.py
  tests/virt/cluster/common_templates/utils.py
  tests/virt/cluster/vm_lifecycle/test_vm_run_strategy.py
  tests/virt/node/hotplug/test_cpu_memory_hotplug.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#441 CherryPicked: [cnv-4.18] [virt] remove test config related programmatic skips
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/rhel/test_rhel_os_support.py
  tests/virt/cluster/common_templates/utils.py
  tests/virt/cluster/vm_lifecycle/test_vm_run_strategy.py
  tests/virt/node/hotplug/test_cpu_memory_hotplug.py
Labels: verified, CherryPicked, size/S, can-be-merged, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#336 Align Layer2UserDefinedNetwork with UDN API changes
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network

#442 CherryPicked: [cnv-4.18] Align Layer2UserDefinedNetwork with UDN API changes
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-vsibirsk, branch-cnv-4.18

#443 [cnv-4.18] Enable UDN tests by removing "udn" marker, add ns label and update condition
  conftest.py
  pytest.ini
  tests/network/user_defined_network/test_user_defined_network.py
  uv.lock
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#408 Add DPDK validation to network sanity check
  tests/network/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, commented-Anatw, tox:verify-bugs-are-open:passed, lgtm-Anatw, lgtm-EdDev, sig-network, approved-dshchedr, approved-vsibirsk

#451 CherryPicked: [cnv-4.18] Add DPDK validation to network sanity check
  tests/network/conftest.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#379 [virt] drop cluster related programmatic skips
  pytest.ini
  tests/conftest.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
  tests/virt/cluster/common_templates/windows/test_windows_tablet_device.py
  tests/virt/cluster/longevity_tests/test_multi_vm_multi_migration.py
  tests/virt/cluster/longevity_tests/test_multi_vm_upgrade_and_reboot.py
  tests/virt/cluster/sysprep/test_sysprep.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
  tests/virt/cluster/vm_lifecycle/test_vm_data_persistency.py
  tests/virt/conftest.py
  tests/virt/node/conftest.py
  tests/virt/node/general/test_disk_io_option.py
  tests/virt/node/general/test_networkinterfacemultiqueue_feature.py
  tests/virt/node/general/test_oom.py
  tests/virt/node/general/test_windows_vtpm_bitlocker.py
  tests/virt/node/general/test_wsl2.py
  tests/virt/node/gpu/conftest.py
  tests/virt/node/gpu/gpu_pci_passthrough/conftest.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_rhel_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_windows_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/utils.py
  tests/virt/node/gpu/vgpu/test_rhel_vm_with_vgpu.py
  tests/virt/node/gpu/vgpu/test_windows_vm_with_vgpu.py
  tests/virt/node/high_performance_vm/test_high_performance_templates.py
  tests/virt/node/high_performance_vm/test_iothreads_policy.py
  tests/virt/node/high_performance_vm/test_isolate_emulator_thread.py
  tests/virt/node/high_performance_vm/test_numa.py
  tests/virt/node/hotplug/test_cpu_memory_hotplug.py
  tests/virt/node/hyperv_support/test_hyperv_features_in_vm.py
  tests/virt/node/migration_and_maintenance/test_node_maintenance.py
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_memory_load_with_migration.py
  tests/virt/node/node_labeller/cpu_features/test_vm_with_cpu_features.py
  tests/virt/node/readonly_disk/test_vm_with_windows_guest_tools.py
  tests/virt/node/workload_density/test_free_page_reporting.py
  tests/virt/upgrade/test_upgrade_virt.py
  utilities/virt.py
Labels: verified, size/XL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#456 [cnv-4.18][virt] drop cluster related programmatic skips (#379)
  pytest.ini
  tests/conftest.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
  tests/virt/cluster/common_templates/windows/test_windows_tablet_device.py
  tests/virt/cluster/longevity_tests/test_multi_vm_multi_migration.py
  tests/virt/cluster/longevity_tests/test_multi_vm_upgrade_and_reboot.py
  tests/virt/cluster/sysprep/test_sysprep.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
  tests/virt/cluster/vm_lifecycle/test_vm_data_persistency.py
  tests/virt/conftest.py
  tests/virt/node/conftest.py
  tests/virt/node/general/test_disk_io_option.py
  tests/virt/node/general/test_networkinterfacemultiqueue_feature.py
  tests/virt/node/general/test_oom.py
  tests/virt/node/general/test_windows_vtpm_bitlocker.py
  tests/virt/node/general/test_wsl2.py
  tests/virt/node/gpu/conftest.py
  tests/virt/node/gpu/gpu_pci_passthrough/conftest.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_rhel_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_windows_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/utils.py
  tests/virt/node/gpu/vgpu/test_rhel_vm_with_vgpu.py
  tests/virt/node/gpu/vgpu/test_windows_vm_with_vgpu.py
  tests/virt/node/high_performance_vm/test_high_performance_templates.py
  tests/virt/node/high_performance_vm/test_iothreads_policy.py
  tests/virt/node/high_performance_vm/test_isolate_emulator_thread.py
  tests/virt/node/high_performance_vm/test_numa.py
  tests/virt/node/hotplug/test_cpu_memory_hotplug.py
  tests/virt/node/hyperv_support/test_hyperv_features_in_vm.py
  tests/virt/node/migration_and_maintenance/test_node_maintenance.py
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_memory_load_with_migration.py
  tests/virt/node/node_labeller/cpu_features/test_vm_with_cpu_features.py
  tests/virt/node/readonly_disk/test_vm_with_windows_guest_tools.py
  tests/virt/node/workload_density/test_free_page_reporting.py
  tests/virt/upgrade/test_upgrade_virt.py
  utilities/virt.py
Labels: verified, size/XL, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#454 Refactor network_sanity to log all failures before exiting
  tests/network/conftest.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#458 CherryPicked: [cnv-4.18] Refactor network_sanity to log all failures before exiting
  tests/network/conftest.py
Labels: verified, CherryPicked, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#452 Refactor network_sanity fixture comment for generalization
  tests/network/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#382 [Infrastructure] Replace conditional skips with pytest markers
  pytest.ini
  tests/conftest.py
  tests/infrastructure/golden_images/conftest.py
  tests/infrastructure/golden_images/test_common_templates_data_volumes.py
  tests/infrastructure/instance_types/test_common_vm_instancetype.py
  tests/infrastructure/sap/test_sap_hana_vm.py
  tests/infrastructure/tekton/test_tekton_custom_ns.py
  tests/infrastructure/tekton/test_tekton_pipeline_disk_uploader.py
  tests/infrastructure/workload_availability/remediation_fencing/conftest.py
  tests/infrastructure/workload_availability/remediation_fencing/test_nodehealthcheck_default_remediation.py
  tests/infrastructure/workload_availability/remediation_fencing/test_nodehealthcheck_fenceagent_remediation.py
  tests/infrastructure/workload_availability/remediation_fencing_mhc/test_ha_vm.py
  tests/virt/node/workload_density/test_free_page_reporting.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#231 Add tests for data sources with instance types
  tests/global_config.py
  tests/infrastructure/golden_images/update_boot_source/test_boot_sources_vm.py
  tests/infrastructure/golden_images/update_boot_source/test_ssp_common_templates_boot_sources.py
  tests/infrastructure/golden_images/utils.py
  utilities/infra.py
Labels: verified, size/L, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-geetikakay, approved-vsibirsk

#470 Add vmi_pod check for kubevirt_vmi_info
  tests/observability/metrics/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk

#480 Replace jira 51065 to 58119
  tests/install_upgrade_operators/crds_cluster_readers_role/test_crds_cluster_readers_role.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#466 Test for kubevirt_allocatable_nodes
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_metrics.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#482 Remove migration_policy_with_bandwidth
  tests/observability/metrics/test_migration_metrics.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#468 Fix persistent network interface naming issue in Fedora 41
  containers/fedora/user-data
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#437 Test for vnic_info metrics
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#374 update clean_up_migration_jobs function
  tests/infrastructure/instance_types/test_cpu_memory_hotplug_instancetype.py
  tests/virt/cluster/aaq/conftest.py
  tests/virt/node/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#504 [virt] update jiras to 4.18
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
  tox.ini
Labels: verified, size/XS, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, branch-cnv-4.18

#506 [virt] update virt-sanity checks (#489)
  conftest.py
  tests/virt/conftest.py
  tests/virt/node/high_performance_vm/test_numa.py
Labels: verified, size/M, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, branch-cnv-4.18

#497 CherryPicked: [cnv-4.18] Test for kubevirt_allocatable_nodes (#466)
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_metrics.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-vsibirsk, branch-cnv-4.18

#484 [Storage] Fix libguestfs test
  tests/storage/test_libguestfs.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#495 Add tier3 marker to checkup framework tests
  tests/network/checkup_framework/test_checkup_framework.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#499 CherryPicked: [cnv-4.18] Fix persistent network interface naming issue in Fedora 41
  containers/fedora/user-data
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#472 Add service_mesh marker
  pytest.ini
  tests/network/service_mesh/test_service_mesh.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#476 Add service mesh verification to network sanity check
  tests/network/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#516 [virt] fix high_resource_vm in hight peft template test
  tests/virt/node/high_performance_vm/test_high_performance_templates.py
Labels: verified, size/XS, needs-rebase, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-dbasunag

#493 [IUO] Align with enableCommonBootImageImport FG deprecation
  tests/conftest.py
  tests/infrastructure/golden_images/update_boot_source/conftest.py
  tests/infrastructure/golden_images/update_boot_source/test_ssp_common_templates_boot_sources.py
  tests/infrastructure/golden_images/update_boot_source/test_ssp_data_import_crons.py
  tests/infrastructure/golden_images/update_boot_source/test_ssp_data_sources.py
  tests/install_upgrade_operators/constants.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_enable_common_boot_image_import.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_non_defaults.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_update_hco_cr.py
  tests/install_upgrade_operators/strict_reconciliation/constants.py
  tests/storage/golden_image/test_cached_snapshots.py
  utilities/constants.py
  utilities/hco.py
Labels: verified, size/L, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#521 [cnv-4.18] Add service_mesh marker
  pytest.ini
  tests/network/service_mesh/test_service_mesh.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#525 Optimize session item access in network_sanity
  tests/network/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, commented-EdDev, tox:verify-bugs-are-open:passed, sig-network, lgtm-geetikakay, approved-vsibirsk

#487 Apply sriov marker to SR-IOV tests
  tests/network/checkup_framework/test_checkup_framework.py
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
  tests/network/sriov/test_sriov.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#523 CherryPicked: [cnv-4.18] Add service mesh verification to network sanity check
  tests/network/conftest.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#532 CherryPicked: [cnv-4.18] Apply sriov marker to SR-IOV tests
  tests/network/checkup_framework/test_checkup_framework.py
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
  tests/network/sriov/test_sriov.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#533 CherryPicked: [cnv-4.18] Optimize session item access in network_sanity
  tests/network/conftest.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#313 Refactor disk-uploader task tests
  tests/infrastructure/tekton/conftest.py
  tests/infrastructure/tekton/test_tekton_pipeline_disk_uploader.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#478 Add jumbo_frame marker and mark related tests
  pytest.ini
  tests/network/jumbo_frame/test_bond.py
  tests/network/jumbo_frame/test_bridge.py
  tests/network/jumbo_frame/test_pod_network_ovn.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#529 Validate jumbo frame support in network sanity check
  tests/network/conftest.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-sbahar619, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#535 CherryPicked: [cnv-4.18] Validate jumbo frame support in network sanity check
  tests/network/conftest.py
Labels: verified, CherryPicked, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#508 Instance type and preference runtime data is now stored under status and is no longer in VM Spec
  tests/infrastructure/instance_types/test_vm_with_instance_and_pref.py
  tests/infrastructure/instance_types/utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, approved-vsibirsk

#540 [4.18] Storage: remove jira ref
  tests/storage/conftest.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, branch-cnv-4.18

#546 update wrapper to 11.0.39
  uv.lock
Labels: verified, size/XS, can-be-merged, branch-main, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#548 [4.18] update wrapper to 4.18.4
  uv.lock
Labels: verified, size/XS, can-be-merged, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, branch-cnv-4.18

#536 Validate SR-IOV support in network sanity checks
  tests/network/conftest.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#550 CherryPicked: [cnv-4.18] Validate SR-IOV support in network sanity checks
  tests/network/conftest.py
Labels: verified, CherryPicked, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#531 Update Fedora container image build procedure
  containers/fedora/README.md
  containers/fedora/build.sh
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-EdDev, commented-stesrn, lgtm-geetikakay, approved-vsibirsk

#557 update uv packages cnv-4.18
  uv.lock
Labels: verified, size/L, can-be-merged, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, branch-cnv-4.18

#559 update tox
  tox.ini
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#555 update uv packages
  uv.lock
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#565 [IUO] update jiras to 4.18
  tests/install_upgrade_operators/conftest.py
  tests/install_upgrade_operators/daemonset/test_daemonset_params.py
  tests/install_upgrade_operators/must_gather/test_must_gather_vms.py
  tests/install_upgrade_operators/pod_validation/test_pod_spec.py
  tests/install_upgrade_operators/security/scc/test_cnv_pods_scc.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#567 Add IPv4 support check to network sanity validation
  tests/network/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, commented-sbahar619, commented-Anatw, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, sig-network, approved-dshchedr

#542 Update csv permissions
  tests/install_upgrade_operators/csv/csv_permissions_audit/csv-permissions.yaml
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-OhadRevah, approved-dshchedr, branch-cnv-4.18

#553 Add support for AAQ in resource conditions
  utilities/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr, commented-sarahbx

#399 Triaging kubevirt_cnao_kubemacpool_manager_up test failure
  tests/observability/network/conftest.py
  tests/observability/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr

#579 CherryPicked: [cnv-4.18] Add IPv4 support check to network sanity validation
  tests/network/conftest.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-dshchedr, branch-cnv-4.18

#582 Replace deprecated netstat with ss
  tests/network/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-sbahar619, commented-EdDev, tox:verify-bugs-are-open:passed, commented-dshchedr, lgtm-EdDev, sig-network, lgtm-geetikakay, approved-dshchedr

#592 CherryPicked: [cnv-4.18] Replace deprecated netstat with ss
  tests/network/utils.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-dshchedr, branch-cnv-4.18

#601 pre-commit: use flake8-plugins.git@v0.0.10. fix Polarion IDs issue
  .pre-commit-config.yaml
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#491 Add storage capabilities to the storage class matrix
  conftest.py
  tests/global_config.py
  tests/global_config_aws.py
  tests/global_config_ibm_spectrum_sc.py
  tests/global_config_interop_sno.py
  tests/global_config_lvms.py
  tests/global_config_nfs.py
  tests/global_config_rh_it.py
  tests/global_config_sno.py
  tests/global_config_sno_hpp.py
  utilities/constants.py
  utilities/pytest_matrix_utils.py
  utilities/pytest_utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#605 Storage: use memory_guest instead of memory_requests
  tests/chaos/snapshot/conftest.py
  tests/data_protection/oadp/conftest.py
  tests/data_protection/oadp/utils.py
  tests/infrastructure/golden_images/update_boot_source/test_latest_rhel_image.py
  tests/storage/cdi_import/conftest.py
  tests/storage/cdi_import/test_import_http.py
  tests/storage/cdi_import/test_import_registry.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/restricted_namespace_cloning/conftest.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning_vms.py
  tests/storage/test_online_resize.py
  tests/storage/test_wffc.py
  tests/utils.py
  utilities/storage.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#595 Storage: fail if no unprivileged_client instead of skip
  tests/storage/restricted_namespace_cloning/conftest.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning_vms.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-geetikakay, lgtm-duyanyan

#593 Refactor assert_ssh_alive command
  tests/network/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, commented-dshchedr, sig-network, approved-dshchedr

#586 Split pod network connectivity test per IP family
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/connectivity/test_pod_network.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-sbahar619, lgtm-EdDev, sig-network, lgtm-geetikakay, approved-dshchedr

#616 Remove references to closed issue CNV-19348
  utilities/network.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, approved-dshchedr

#569 [IUO] Skip non-served api versions
  tests/install_upgrade_operators/must_gather/test_must_gather.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr

#614 [4.18] Remove jira refernce cnv-58482
  tests/install_upgrade_operators/conftest.py
  tests/install_upgrade_operators/daemonset/test_daemonset_params.py
  tests/install_upgrade_operators/pod_validation/test_pod_spec.py
  tests/install_upgrade_operators/security/scc/test_cnv_pods_scc.py
  utilities/constants.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#607 [4.18] [VIRT] Updates for swap test (#372)
  tests/virt/node/workload_density/test_swap.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#619 [4.18][IUO] Skip non-served api versions
  tests/install_upgrade_operators/must_gather/test_must_gather.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#621 [Upgrade] Fix network and virt pre-upgrade tests
  tests/network/upgrade/utils.py
  tests/virt/upgrade/conftest.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-dshchedr, branch-cnv-4.18

#580 [CherryPicked]: [cnv-4.18] Triaging kubevirt cnao kubemacpool manager up
  tests/observability/network/conftest.py
  tests/observability/utils.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-dshchedr, branch-cnv-4.18

#590 collect data from other namespaces depending on component name (#199)
  conftest.py
  tests/global_config.py
  utilities/constants.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#612 Improve VM error assertion with detailed status output
  utilities/virt.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#625 CherryPicked: [cnv-4.18] Improve VM error assertion with detailed status output
  utilities/virt.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#459 Test for kubevirt_vm_disk_allocated_size_bytes metric
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_vms_metrics.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr

#609 CherryPicked: [cnv-4.18] Storage: fail if no unprivileged_client instead of skip
  tests/storage/restricted_namespace_cloning/conftest.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning_vms.py
Labels: verified, CherryPicked, size/XS, can-be-merged, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, branch-cnv-4.18

#623 Allocate VM memory from memory_guest
  tests/infrastructure/instance_types/test_update_vm_with_instancetype_preference.py
  tests/infrastructure/instance_types/test_vm_override_pref.py
  tests/infrastructure/instance_types/test_vm_preference.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-jpeimer, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk

#644 CherryPicked: [cnv-4.18] pre-commit: use flake8-plugins.git@v0.0.10. fix Polarion IDs issue
  .pre-commit-config.yaml
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#634 [IUO] Remove Ipam resources and Jira CNV-53226
  tests/install_upgrade_operators/conftest.py
  tests/install_upgrade_operators/daemonset/test_daemonset_params.py
  tests/install_upgrade_operators/pod_validation/test_pod_spec.py
  tests/install_upgrade_operators/security/scc/test_cnv_pods_scc.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#638 [4.19][Upgrade] Fix network and virt pre-upgrade tests
  tests/network/upgrade/utils.py
  tests/virt/upgrade/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk

#645 Add OCI storage class
  tests/global_config_oci.py
  utilities/constants.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#563 Add rhel10 guest tests using instancetype/prefernce
  tests/conftest.py
  tests/infrastructure/instance_types/conftest.py
  tests/infrastructure/instance_types/supported_os/test_rhel_os.py
  tests/infrastructure/instance_types/utils.py
  tests/virt/cluster/common_templates/centos/test_centos_os_support.py
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/fedora/test_fedora_os_support.py
  tests/virt/cluster/common_templates/rhel/test_rhel_os_support.py
  tests/virt/cluster/common_templates/utils.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
  tests/virt/cluster/conftest.py
  tests/virt/cluster/general/test_smbios.py
  tests/virt/cluster/utils.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_rhel_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/vgpu/test_rhel_vm_with_vgpu.py
  tests/virt/utils.py
  utilities/virt.py
Labels: verified, size/XXL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, commented-geetikakay, commented-vsibirsk, approved-dshchedr, approved-vsibirsk

#448 Use upgrade markers explicitly for test collection
  README.md
  conftest.py
  pytest.ini
  tests/conftest.py
  tests/install_upgrade_operators/product_upgrade/conftest.py
  tests/install_upgrade_operators/product_upgrade/test_eus_upgrade.py
  tests/install_upgrade_operators/product_upgrade/test_upgrade.py
  tests/install_upgrade_operators/product_upgrade/test_upgrade_iuo.py
  tests/network/upgrade/test_upgrade_network.py
  tests/storage/upgrade/test_upgrade_storage.py
  tests/upgrade_params.py
  tests/virt/upgrade/test_upgrade_virt.py
  tests/virt/upgrade_custom/aaq/test_upgrade_virt_aaq.py
Labels: verified, size/L, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-dshchedr

#632 [CherryPicked][4.18]Test for kubevirt_vm_disk_allocated_size_bytes metric (#459)
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_vms_metrics.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#653 Moving vhostmd tests to tier2
  tests/infrastructure/vhostmd/test_vhostmd.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk

#655 update IBM sc name
  tests/global_config_ibm_spectrum_sc.py
  utilities/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk
