Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-02, with the labels that each got.

#81 Include disk-uploader pipeline in tekton tests
  tests/infrastructure/tekton/conftest.py
  tests/infrastructure/tekton/test_tekton_custom_ns.py
  tests/infrastructure/tekton/test_tekton_pipeline_disk_uploader.py
  tests/infrastructure/tekton/utils.py
Labels: verified, size/L, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed

#207 NMO was removed back in 4.10, remove tests associated
  tests/global_config.py
  tests/install_upgrade_operators/test_nmo_removal.py
Labels: size/S, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#197 Review virt cluster T2 gating tests
  tests/virt/cluster/aaq/test_arq.py
  tests/virt/cluster/common_templates/general/test_base_template.py
  tests/virt/cluster/common_templates/general/test_diskless_vm.py
  tests/virt/cluster/migration_and_maintenance/test_evictionstrategy.py
  tests/virt/cluster/migration_and_maintenance/test_migration_policy.py
  tests/virt/cluster/operator_tests/test_ssp_custom_resources.py
  tests/virt/cluster/resource_limits/test_auto_resource_limits.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#205 remove all sno skips, mark sno tests explicitly
  conftest.py
  tests/conftest.py
  tests/global_config_sno.py
  tests/install_upgrade_operators/conftest.py
  tests/install_upgrade_operators/daemonset/test_daemonset_params.py
  tests/install_upgrade_operators/deployment/test_hco_deployment_params.py
  tests/install_upgrade_operators/must_gather/test_must_gather_vms.py
  tests/install_upgrade_operators/pod_validation/test_pod_spec.py
  tests/install_upgrade_operators/single_node_tests/__init__.py
  tests/install_upgrade_operators/single_node_tests/test_sno_daemonset_params.py
  tests/install_upgrade_operators/single_node_tests/test_sno_deployment_params.py
  tests/network/flat_overlay/test_flat_overlay.py
  tests/network/flat_overlay/test_multi_network_policy.py
  tests/network/single_node_tests/__init__.py
  tests/network/single_node_tests/test_network_sno_deployment.py
  tests/network/upgrade/test_upgrade_network.py
  tests/observability/alerts/virt/test_virt_pods_alerts.py
  tests/observability/metrics/test_migration_metrics.py
  tests/virt/cluster/migration_and_maintenance/test_evictionstrategy.py
  tests/virt/cluster/single_node_tests/__init__.py
  tests/virt/cluster/single_node_tests/test_sno_pdb.py
  tests/virt/upgrade/test_upgrade_virt.py
  utilities/constants.py
  utilities/storage.py
Labels: verified, size/L, branch-main, commented-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, commented-hmeir, lgtm-hmeir, commented-yossisegev, sig-network, approved-dshchedr

#221 [VIRT] Review virt node gating tests
  tests/virt/node/efi_secureboot/test_vm_with_efi_secureboot.py
  tests/virt/node/general/test_vm_with_sidecar.py
  tests/virt/node/hyperv_support/test_hyperv_features_in_vm.py
  tests/virt/node/node_labeller/cpu_features/test_vm_with_cpu_flag.py
  tests/virt/node/owner_references/test_vm_owner_references.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#227 Remove skip_if_nightly_channel fixture
  tests/install_upgrade_operators/csv/conftest.py
  tests/install_upgrade_operators/csv/test_immutable_image_using_sha.py
  tests/install_upgrade_operators/csv/test_stable_subscription_channel.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#229 Remove skip on rosa clusters
  tests/conftest.py
  tests/install_upgrade_operators/crypto_policy/test_hco_override_api_server_crypto_policy.py
  tests/install_upgrade_operators/crypto_policy/test_update_api_server.py
  tests/install_upgrade_operators/node_component/test_deploy_cnv_on_subset_of_nodes_sanity.py
  tests/install_upgrade_operators/node_component/test_hco_vm.py
  tests/install_upgrade_operators/node_component/test_node_placement_cr.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#213 Triaged VmFreeMemoryBytes
  tests/observability/metrics/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#225 [virt] refactor wsl2 tests
  tests/virt/node/general/test_wsl2.py
Labels: verified, size/M, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#240 Fix eus_hco_target_version
  tests/conftest.py
  tests/install_upgrade_operators/product_install/conftest.py
  tests/install_upgrade_operators/product_upgrade/conftest.py
  tests/install_upgrade_operators/product_upgrade/utils.py
  tests/install_upgrade_operators/utils.py
  tests/virt/upgrade/conftest.py
  tests/virt/upgrade/utils.py
  utilities/operator.py
Labels: verified, size/L, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, commented-vsibirsk, approved-dshchedr

#233 remove skip_no_rhcos from test repository
  tests/install_upgrade_operators/must_gather/conftest.py
  tests/install_upgrade_operators/must_gather/test_must_gather.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#223 [Virt] Change multiprocessing to threads
  tests/virt/cluster/longevity_tests/utils.py
  tests/virt/node/general/test_oom.py
Labels: verified, size/S, needs-rebase, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, commented-dshchedr

#237 remove fixture skip_not_openshift
  tests/conftest.py
  tests/install_upgrade_operators/security/scc/test_default_scc.py
  tests/observability/metrics/test_vms_metrics.py
  tests/storage/cdi_upload/test_upload.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/test_cdi_config.py
  tests/virt/cluster/common_templates/general/test_base_template.py
Labels: verified, size/S, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#243 Add Vasiliy as sigowner for virt
  tests/virt/OWNERS
  tests/virt/cluster/OWNERS
  tests/virt/node/OWNERS
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#216 Fix checkup failures and remove bug markers
  tests/network/checkup_framework/test_checkup_framework.py
  tests/network/checkup_framework/utils.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network

#235 remove fixture skip_when_one_node and it's usage
  tests/chaos/migration/test_migration.py
  tests/conftest.py
  tests/infrastructure/instance_types/test_cpu_memory_hotplug_instancetype.py
  tests/infrastructure/workload_availability/remediation_fencing/test_nodehealthcheck_default_remediation.py
  tests/infrastructure/workload_availability/remediation_fencing/test_nodehealthcheck_fenceagent_remediation.py
  tests/network/bond/test_over_linux_bond_on_default_interface.py
  tests/network/checkup_framework/test_checkup_dpdk.py
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/general/test_bridge_marker.py
  tests/network/host_network/vlan/test_vlan_on_host.py
  tests/network/jumbo_frame/test_bond.py
  tests/network/jumbo_frame/test_bridge.py
  tests/network/jumbo_frame/test_pod_network_ovn.py
  tests/network/migration/test_masquerade_connectivity_after_migration.py
  tests/network/migration/test_migration.py
  tests/network/nmstate/test_nmstate_management_iface.py
  tests/network/ovs_bond/test_bond_link_down.py
  tests/scale/test_scale_benchmark.py
  tests/storage/cdi_import/test_import_http.py
  tests/virt/cluster/aaq/test_aaq_allocation_methods.py
  tests/virt/cluster/aaq/test_arq.py
  tests/virt/cluster/longevity_tests/test_multi_vm_multi_migration.py
  tests/virt/cluster/longevity_tests/test_multi_vm_upgrade_and_reboot.py
  tests/virt/cluster/migration_and_maintenance/test_migration_policy.py
  tests/virt/cluster/resource_limits/test_auto_resource_limits.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
  tests/virt/cluster/vm_lifecycle/test_vm_run_strategy.py
  tests/virt/node/descheduler/test_descheduler.py
  tests/virt/node/general/test_windows_vtpm_bitlocker.py
  tests/virt/node/hotplug/test_cpu_memory_hotplug.py
  tests/virt/node/migration_and_maintenance/test_dedicated_live_migration_network.py
  tests/virt/node/migration_and_maintenance/test_node_maintenance.py
  tests/virt/node/migration_and_maintenance/test_odf_vm_migration.py
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_disk_load_with_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_memory_load_with_migration.py
  tests/virt/node/migration_and_maintenance/test_vm_unscheduled_node.py
  tests/virt/node/readonly_disk/test_vm_with_windows_guest_tools.py
  tests/virt/node/workload_density/test_kernel_samepage_merging.py
Labels: verified, size/M, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, sig-network, approved-dshchedr

#209 Add core and threads for rhel.9.realtime
  tests/infrastructure/instance_types/test_common_vm_preference.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#248 update packages in uv.lock
  uv.lock
Labels: verified, size/M, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#174 Refactor VM console proxy test
  tests/infrastructure/vm_console_proxy/conftest.py
  tests/infrastructure/vm_console_proxy/constants.py
  tests/infrastructure/vm_console_proxy/test_vm_console_proxy.py
  tests/infrastructure/vm_console_proxy/utils.py
Labels: verified, size/M, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed

#254 Storage: cleanup DataSource in checkup tests
  tests/storage/checkups/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-jpeimer, tox:verify-bugs-are-open:passed

#250 remove skip_if_not_three_nodes fixture
  tests/network/nmstate/test_nncp_maxunavailable.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network

#261 Triaging kubevirt_hco_single_stack_ipv6 failure
  tests/conftest.py
  tests/observability/metrics/test_general_metrics.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#252 remove ovn dependencies and remove sdn specific tests, as it is deprecated in 4.14
  tests/conftest.py
  tests/network/bond/test_over_linux_bond_on_default_interface.py
  tests/network/conftest.py
  tests/network/flat_overlay/test_flat_overlay.py
  tests/network/jumbo_frame/test_pod_network_ovn.py
  tests/network/nmstate/test_nmpolicy_capture.py
Labels: verified, size/XXL, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network

#278 Set the cluster default cpu by using defaultCPUModel param in HCO
  tests/install_upgrade_operators/strict_reconciliation/test_hco_default_cpu_model.py
  tests/utils.py
  utilities/constants.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#276 fix for update_hco_annotations function teardown
  utilities/hco.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer

#239 remove skip_when_no_sriov fixture and mark sriov dependent tests explicitly with special_infra marker
  pytest.ini
  tests/conftest.py
  tests/infrastructure/instance_types/test_common_vm_preference.py
  tests/install_upgrade_operators/must_gather/test_must_gather.py
  tests/network/checkup_framework/test_checkup_dpdk.py
  tests/network/checkup_framework/test_checkup_framework.py
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
  tests/network/sriov/test_sriov.py
  tests/virt/node/high_performance_vm/test_numa.py
Labels: verified, size/M, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network

#274 remove skip_insufficient_nodes
  tests/network/host_network/vlan/conftest.py
  tests/network/host_network/vlan/test_vlan_on_host.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network

#280 add node for network_device call
  tests/install_upgrade_operators/must_gather/conftest.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer

#289 update packages
  uv.lock
Labels: verified, size/M, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#300 Remove cluster_resource
  tests/observability/network/conftest.py
Labels: verified, size/XS, needs-rebase, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer

#291 Triaging test_kubevirt_vmi_node_cpu_affinity
  tests/observability/metrics/test_general_metrics.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer

#268 Virt:Skip guest agent info tests on win2025 until get latest build
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, commented-SiboWang1997, approved-dshchedr, approved-vsibirsk

#307 Add vsibirsk and dshchedr as root approvers
  OWNERS
Labels: size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed

#256 Triaging setup error in TestVmFreeMemoryBytes
  tests/observability/metrics/conftest.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#242 Test kubevirt_vmsnapshot_persistentvolumeclaim_labels
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
  tests/storage/checkups/conftest.py
  tests/storage/conftest.py
  tests/storage/fs_overhead/test_fs_overhead.py
  tests/storage/hpp/conftest.py
  tests/storage/upgrade/utils.py
  tests/storage/utils.py
  tests/utils.py
Labels: verified, size/L, needs-rebase, can-be-merged, branch-main, approved-jpeimer, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#266 remove skip_if_no_multinic_nodes and skip_no_bond_support
  README.md
  tests/conftest.py
  tests/network/bond/test_bond_modes.py
  tests/network/bond/test_l2_bridge_over_bond.py
  tests/network/checkup_framework/conftest.py
  tests/network/conftest.py
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/flat_overlay/test_flat_overlay.py
  tests/network/host_network/vlan/conftest.py
  tests/network/host_network/vlan/test_vlan_on_host.py
  tests/network/jumbo_frame/conftest.py
  tests/network/jumbo_frame/test_bond.py
  tests/network/jumbo_frame/test_bridge.py
  tests/network/jumbo_frame/test_pod_network_ovn.py
  tests/network/kubemacpool/conftest.py
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
  tests/network/l2_bridge/test_l2_ovs_linux_bridge.py
  tests/network/macspoof/conftest.py
  tests/network/migration/test_migration.py
  tests/network/nmstate/test_connectivity_after_nmstate_changes.py
  tests/network/nmstate/test_nmstate_sanity.py
  tests/network/nmstate/test_nncp_maxunavailable.py
  tests/network/secondary_network_dns/test_secondary_network_dns.py
  tests/virt/node/migration_and_maintenance/test_dedicated_live_migration_network.py
Labels: verified, size/L, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, approved-dshchedr, approved-vsibirsk

#309 Remove tests covering gn1
  tests/infrastructure/instance_types/test_common_vm_instancetype.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#311 must-gather collection can hang on a cluster , so add timeout for run_command() call
  utilities/must_gather.py
Labels: verified, size/XS, can-be-merged, branch-main, commented-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-Ahmad-Hafe, changes-requested-hmeir, lgtm-jpeimer, commented-Ahmad-Hafe, approved-dshchedr, approved-vsibirsk

#203 remove create_folder_and_mirror_file
  tests/virt/node/descheduler/conftest.py
  utilities/operator.py
Labels: verified, size/S, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr, approved-vsibirsk

#322 target branch for 4.18
  Makefile
  tox.ini
Labels: verified, size/XS, can-be-merged, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr, branch-cnv-4.18

#329 Fix SSH - Change separators in virtctl port-forward
  utilities/virt.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#340 SSH: use .namespace - compatible with 4.19 and 4.20/4.99
  utilities/virt.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, commented-geetikakay, commented-vsibirsk, lgtm-geetikakay, approved-vsibirsk, lgtm-0xFelix

#352 update owners file
  utilities/OWNERS
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed

#350 update branches
  tox.ini
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#344 [4.18] SSH: add type to virtctl port-forward
  utilities/virt.py
Labels: verified, size/XS, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#342 pin openshift-python-wrapper to 4.18
  pyproject.toml
  uv.lock
Labels: verified, size/XS, can-be-merged, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, branch-cnv-4.18

#294 Enable UDN tests by removing "udn" marker, add ns label and update condition
  conftest.py
  pytest.ini
  tests/network/user_defined_network/test_user_defined_network.py
Labels: verified, size/S, needs-rebase, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, sig-network, approved-dshchedr

#335 [Minor change]:Use KUBECONFIG constant
  utilities/infra.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk

#362 [4.18] update packages
  uv.lock
Labels: verified, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#377 update renovate
  renovate.json
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#287 remove dpdk, jumbo frame, service mesh related skips
  pytest.ini
  tests/network/checkup_framework/test_checkup_dpdk.py
  tests/network/conftest.py
  tests/network/flat_overlay/test_flat_overlay.py
  tests/network/jumbo_frame/test_bond.py
  tests/network/jumbo_frame/test_bridge.py
  tests/network/jumbo_frame/test_pod_network_ovn.py
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
  tests/network/service_mesh/conftest.py
  tests/network/service_mesh/test_service_mesh.py
  tests/network/sriov/conftest.py
  tests/network/sriov/test_sriov.py
Labels: verified, size/L, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-dshchedr, approved-vsibirsk

#366 add a cluster health check to check for cluster common cpus
  tests/after_cluster_deploy_sanity/test_after_cluster_deploy_sanity.py
Labels: verified, size/XS, can-be-merged, branch-main, commented-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, lgtm-dollierp

#199 collect data from other namespaces depending on component name
  conftest.py
  pytest.ini
  tests/global_config.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_rhel_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/gpu_pci_passthrough/test_windows_vm_with_gpu_pci_passthrough.py
  tests/virt/node/gpu/vgpu/test_rhel_vm_with_vgpu.py
  tests/virt/node/gpu/vgpu/test_windows_vm_with_vgpu.py
  tests/virt/node/workload_density/test_swap.py
  utilities/constants.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr
