Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-09, with the labels that each got.

#1778 [4.99] Add CNV-67104 for new issue of guest agent
  tests/virt/cluster/common_templates/utils.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.99, branch-CherryPicked-remove_CNV-64776-2eh4L, sig-virt

#1948 move `cache_admin_client` to be private
  utilities/infra.py
  utilities/pytest_matrix_utils.py
  utilities/unittests/test_pytest_matrix_utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, commented-rnetser, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1900 net, dhcpd: move helpers to a dedicated module, add type annotation
  tests/network/constants.py
  tests/network/l2_bridge/conftest.py
  tests/network/l2_bridge/test_l2_ovs_linux_bridge.py
  tests/network/libs/dhcpd.py
  tests/network/utils.py
  utilities/network.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, lgtm-rnetser, commented-rnetser, approved-EdDev, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot, lgtm-servolkov, commented-azhivovk

#1957 [4.99] fix virtcl port-forward command
  utilities/virt.py
Labels: verified, size/XS, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.99, sig-virt

#1875 [IUO] add kubevirt-console-plugin-np to hco related objects
  utilities/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1992 [IUO] Add jira CNV-64433
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_delete_hco_pod.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, approved-vsibirsk, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, sig-iuo

#1936 [4.19] Quarantine another test that fails because of the console login
  tests/network/localnet/test_default_bridge.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, approved-EdDev, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19, lgtm-servolkov

#1930 [IUO] Remove jira CNV-64424
  tests/install_upgrade_operators/crds_cluster_readers_role/test_crds_cluster_readers_role.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-OhadRevah, approved-vsibirsk, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, sig-iuo

#1678 [Chaos][OADP] Automate case CNV-12011: Reboot the worker node during OADP Backup
  tests/chaos/oadp/__init__.py
  tests/chaos/oadp/conftest.py
  tests/chaos/oadp/test_oadp.py
  tests/data_protection/oadp/conftest.py
  tests/data_protection/oadp/utils.py
  utilities/constants.py
  utilities/oadp.py
Labels: verified, size/XL, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, commented-qwang1, approved-vsibirsk, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, sig-chaos, sig-storage, lgtm-sarahbx

#2012 [4.99] Jira fix versions - vfuture, 4.20.0, 4.20.z, 4.21.0, 4.21.z
  tox.ini
Labels: verified, size/XS, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-RoniKishner, tox:verify-bugs-are-open:failed, approved-vsibirsk, lgtm-myakove, changes-requested-openshift-virtualization-qe-bot, branch-cnv-4.99

#2006 Remove test_vm_preference.py and associated constants.py
  tests/infrastructure/instance_types/conftest.py
  tests/infrastructure/instance_types/constants.py
  tests/infrastructure/instance_types/test_vm_preference.py
  tests/infrastructure/instance_types/test_vm_with_instance_and_pref.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-geetikakay, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot, sig-infra

#1980 net, service mesh: Quarantine failed service mesh tests
  tests/network/service_mesh/test_service_mesh.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-EdDev, lgtm-OhadRevah, sig-network, approved-EdDev, lgtm-openshift-virtualization-qe-bot, lgtm-servolkov

#2016 CherryPicked: [cnv-4.19] Remove test for kube_daemonset_status_number_ready (#1978)
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_metrics.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19, lgtm-rlobillo

#1962 [4.18] Remove rercording rules tests
  tests/conftest.py
  tests/observability/constants.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_instance_type_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_total_created_vms.py
  tests/observability/metrics/test_vm_template_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
  tests/observability/network/__init__.py
  tests/observability/network/conftest.py
  tests/observability/network/test_cnao_observability.py
  tests/observability/virt/conftest.py
  tests/observability/virt/test_virt_metrics_alerts.py
Labels: verified, size/XXL, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-dshchedr, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot

#2047 CherryPicked: [cnv-4.18] Remove tests with T1 cover
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_cnao_metrics.py
  tests/observability/metrics/test_cpu_usage_metrics.py
  tests/observability/metrics/test_key_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_network_metrics.py
  tests/observability/metrics/test_virt_resource_mutation_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
Labels: verified, size/XXL, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot

#2036 Remove NON_EXISTS_IMAGE
  utilities/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-OhadRevah, approved-dshchedr, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#2034 CherryPicked: [cnv-4.19] Remove tests with T1 cover (#1894)
  tests/global_config.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_cnao_metrics.py
  tests/observability/metrics/test_cpu_usage_metrics.py
  tests/observability/metrics/test_key_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_network_metrics.py
  tests/observability/metrics/test_virt_resource_mutation_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
  utilities/constants.py
Labels: verified, size/XXL, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1966 CherryPicked: [cnv-4.18] Removing remaining alerts (#1771)
  tests/observability/conftest.py
  tests/observability/storage/test_hpp_observability.py
  tests/observability/virt/conftest.py
  tests/observability/virt/test_virt_metrics.py
  tests/observability/virt/test_virt_metrics_alerts.py
Labels: verified, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot

#2018 CherryPicked: [cnv-4.18] Remove test for kube_daemonset_status_number_ready (#1978)
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_metrics.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, approved-vsibirsk, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot

#2040 Storage: remove quarantine for oadp
  tests/data_protection/oadp/conftest.py
  tests/data_protection/oadp/test_velero.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot, sig-storage

#2091 Storage: fix concurrent uploads test for s390x.
  libs/infra/images.py
  tests/storage/cdi_upload/test_upload.py
  utilities/constants.py
Labels: verified, size/S, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot, sig-storage

#2089 Storage: Dequarantine storage test_upload_token_validity
  tests/storage/cdi_upload/test_upload.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot, sig-storage

#1946 Add basic windows tests using instance types and container images
  libs/infra/images.py
  tests/infrastructure/instance_types/supported_os/conftest.py
  tests/infrastructure/instance_types/supported_os/test_windows_os.py
  utilities/constants.py
  utilities/os_utils.py
  utilities/storage.py
  utilities/virt.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-geetikakay, approved-vsibirsk, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, sig-infra, sig-storage, sig-virt

#2099 Storage: replace skip_if_sc_volume_binding_mode_is_wffc fixture with immediate_matrix
  tests/storage/cdi_upload/conftest.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/test_cdi_certificate.py
  utilities/pytest_matrix_utils.py
  utilities/unittests/test_pytest_matrix_utils.py
Labels: verified, size/M, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr, lgtm-duyanyan, lgtm-openshift-virtualization-qe-bot, sig-storage, commented-kshvaika

#2128 Revert "Add basic windows tests using instance types and container images"
  libs/infra/images.py
  tests/infrastructure/instance_types/supported_os/conftest.py
  tests/infrastructure/instance_types/supported_os/test_windows_os.py
  utilities/constants.py
  utilities/os_utils.py
  utilities/storage.py
  utilities/virt.py
Labels: verified, size/L, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, sig-infra, sig-storage, sig-virt

#2146 [IUO] Add declarativeHotplugVolumes FG
  tests/install_upgrade_operators/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-geetikakay, approved-dshchedr, lgtm-openshift-virtualization-qe-bot, lgtm-kshvaika, sig-iuo

#2140 Fix invalid renovate schedule
  renovate.json
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#2126 [4.18] Storage: replace skip_if_sc_volume_binding_mode_is_wffc fixture with immediate_matrix
  tests/storage/cdi_upload/conftest.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/test_cdi_certificate.py
  utilities/pytest_matrix_utils.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, branch-cnv-4.18, lgtm-duyanyan, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#2155 Fix kubevirt_virt_operator_ready test flakiness
  tests/observability/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, commented-hmeir, lgtm-hmeir, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, sig-iuo

#2157 net: Update reviewers list
  tests/network/OWNERS
Labels: verified, size/XS, branch-main, lgtm-yossisegev, lgtm-EdDev, sig-network, approved-EdDev, lgtm-servolkov

#2109 CherryPicked: [cnv-4.18] Remove cdi metrics recording rules tests
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/observability/metrics/utils.py
  utilities/storage.py
Labels: verified, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#2148 Fix the valid_cdi_certificate fn to fetch utc time instead of localtime.
  tests/storage/test_cdi_certificate.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, sig-storage

#2183 Disbale auto-cherry pick from main to cnv-4.99
  .github/workflows/cherrypick-to-4.99.yml
Labels: verified, size/XXL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot

#2045 [virt] virt-cluster tests to use golden data sources
  tests/conftest.py
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/general/test_base_custom_templates.py
  tests/virt/cluster/common_templates/general/test_diskless_vm.py
  tests/virt/cluster/common_templates/general/test_template_validator.py
  tests/virt/cluster/common_templates/rhel/test_rhel_tablet_device.py
  tests/virt/cluster/common_templates/utils.py
  tests/virt/cluster/common_templates/windows/test_windows_custom_options.py
  tests/virt/cluster/common_templates/windows/test_windows_tablet_device.py
  tests/virt/cluster/migration_and_maintenance/test_evictionstrategy.py
  tests/virt/cluster/sysprep/test_sysprep.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
  tests/virt/cluster/vm_lifecycle/conftest.py
  tests/virt/cluster/vm_lifecycle/test_vm_data_persistency.py
  tests/virt/cluster/vm_lifecycle/test_vm_run_strategy.py
  tests/virt/conftest.py
  tests/virt/constants.py
  tests/virt/utils.py
Labels: verified, size/XXL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, sig-virt

#2175 net,bgp: improve sanity check
  tests/network/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, approved-EdDev, lgtm-openshift-virtualization-qe-bot

#1783 Return Namespace obj in create_ns
  utilities/infra.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-RoniKishner, commented-vsibirsk, lgtm-OhadRevah, lgtm-rnetser, commented-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#2144 [CNV-66017]skip log files that were rotated on the OCP nodes
  utilities/infra.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-geetikakay, commented-hmeir, lgtm-rnetser, commented-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot, commented-rlobillo, lgtm-kshvaika

#2074 CherryPicked: [cnv-4.19] Deleted runbook US url test and improve DS runbook urls tes (#1989)
  tests/conftest.py
  tests/observability/runbook_url/conftest.py
  tests/observability/runbook_url/test_runbook_url.py
Labels: verified, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19, lgtm-rlobillo

#2139 feat: add OS_FLAVOR class variable to cirros class for better flexibility
  libs/infra/images.py
  tests/global_config_s390x.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/cdi_upload/test_upload_virtctl.py
  tests/storage/conftest.py
  tests/storage/restricted_namespace_cloning/conftest.py
  tests/storage/restricted_namespace_cloning/test_restricted_namespace_cloning_vms.py
  tests/storage/test_online_resize.py
  tests/storage/test_wffc.py
  tests/storage/vm_export/conftest.py
  tests/utils.py
  utilities/constants.py
  utilities/storage.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, commented-vamsikrishna-siddu, sig-storage

#2217 [virt] quarantine test_pause_unpause_vm (RHEL OS)
  tests/virt/cluster/common_templates/rhel/test_rhel_os_support.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, sig-virt
