Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-04, with the labels that each got.

#660 CherryPicked: [cnv-4.18] update IBM sc name
  tests/global_config_ibm_spectrum_sc.py
  utilities/constants.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer, approved-vsibirsk, branch-cnv-4.18

#657 CherryPicked: [cnv-4.18] Moving vhostmd tests to tier2
  tests/infrastructure/vhostmd/test_vhostmd.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-vsibirsk, branch-cnv-4.18

#651 [4.18] Resolve IPv6 gating tests in non-supporting clusters
  tests/network/connectivity/test_ovs_linux_bridge.py
  tests/network/connectivity/test_pod_network.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-jpeimer, tox:verify-bugs-are-open:passed, commented-vsibirsk, commented-yossisegev, sig-network, approved-vsibirsk, branch-cnv-4.18

#665 Remove unused const WSL2_DV_SIZE
  utilities/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-geetikakay, approved-dshchedr

#663 Increase timeout in BridgeNodeNetworkConfigurationPolicy.to_dict
  utilities/network.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, sig-network, approved-dshchedr

#571 [IUO] add hco-bearer-auth secret to HCO resources
  tests/install_upgrade_operators/strict_reconciliation/test_hco_related_objects.py
  utilities/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr

#667 CherryPicked: [cnv-4.18] [VIRT] Check VMs not rebooted after upgrade
  tests/virt/upgrade/conftest.py
  tests/virt/upgrade/test_upgrade_virt.py
  tests/virt/upgrade/utils.py
Labels: verified, CherryPicked, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#673 CherryPicked: [cnv-4.18] Increase timeout in BridgeNodeNetworkConfigurationPolicy.to_dict
  utilities/network.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#677 CherryPicked: [cnv-4.18] Fix must-gather collection timer
  conftest.py
Labels: verified, CherryPicked, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#671 [virt] fix aaq gating flake
  tests/virt/cluster/aaq/conftest.py
  tests/virt/cluster/aaq/utils.py
  tests/virt/node/owner_references/test_vm_owner_references.py
  tests/virt/upgrade_custom/aaq/conftest.py
  tests/virt/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer, commented-vsibirsk, lgtm-geetikakay, approved-dshchedr

#674 Improve logic to handle cluster preference with CPU spread options
  tests/infrastructure/instance_types/test_common_vm_preference.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#636 Deprecate deployVMConsoleProxy feature gate
  tests/infrastructure/vm_console_proxy/conftest.py
  tests/infrastructure/vm_console_proxy/test_vm_console_proxy.py
  tests/install_upgrade_operators/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-geetikakay, approved-dshchedr, approved-vsibirsk

#511 Update default storage class setup for upgrade
  tests/conftest.py
  utilities/storage.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-jpeimer, tox:verify-bugs-are-open:passed, commented-hmeir, lgtm-jpeimer, approved-dshchedr, branch-cnv-4.18

#683 update uv packages
  uv.lock
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#685 [cnv-4.18]update uv packages
  uv.lock
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#680 CherryPicked: [main] Update default storage class setup for upgrade
  tests/conftest.py
  utilities/storage.py
Labels: verified, CherryPicked, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#678 [VIRT] Fix descheduler teardown
  tests/virt/node/descheduler/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#681 [IUO] Add hco-bearer-token to labels test
  tests/install_upgrade_operators/relationship_labels/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#687 CherryPicked: [cnv-4.18] [VIRT] Fix descheduler teardown
  tests/virt/node/descheduler/conftest.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#692 CherryPicked: [cnv-4.18] [IUO] Add hco-bearer-token to labels test
  tests/install_upgrade_operators/relationship_labels/constants.py
Labels: verified, CherryPicked, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#693 [4.18] Add storage capabilities to the storage class matrix #491
  conftest.py
  tests/global_config.py
  tests/global_config_aws.py
  tests/global_config_ibm_spectrum_sc.py
  tests/global_config_interop_sno.py
  tests/global_config_lvms.py
  tests/global_config_nfs.py
  tests/global_config_oci.py
  tests/global_config_rh_it.py
  tests/global_config_sno.py
  tests/global_config_sno_hpp.py
  utilities/constants.py
  utilities/pytest_matrix_utils.py
  utilities/pytest_utils.py
Labels: verified, size/L, can-be-merged, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#701 Add Rhel 9.6 OS to rhel_os_matrix
  tests/global_config.py
  utilities/constants.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-jpeimer, tox:verify-bugs-are-open:passed, lgtm-jpeimer, commented-vsibirsk, commented-SiboWang1997, approved-vsibirsk

#707 CherryPicked: [cnv-4.18] [virt] fix aaq gating flake
  tests/virt/cluster/aaq/conftest.py
  tests/virt/cluster/aaq/utils.py
  tests/virt/node/owner_references/test_vm_owner_references.py
  tests/virt/upgrade_custom/aaq/conftest.py
  tests/virt/utils.py
Labels: verified, CherryPicked, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#649 Triage kubevirt_vmsnapshot_persistentvolumeclaim_labels flakiness
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_cdi_metrics.py
  tests/observability/metrics/test_vms_metrics.py
  tests/observability/metrics/utils.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr

#688 [Upgrade] Allow user to choose subscription channel
  README.md
  conftest.py
  tests/install_upgrade_operators/product_upgrade/conftest.py
  utilities/operator.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk

#218 Utilities - Add NodeNetworkConfigurationPolicy resource to libs/net
  tests/network/cluster_addons_operator/test_network_addons_operator.py
  tests/network/libs/nodenetworkconfigurationpolicy.py
Labels: verified, size/L, can-be-merged, branch-main, approved-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, commented-Anatw, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, approved-vsibirsk, lgtm-rnetser

#717 Add Edi as CNV Network approver
  tests/network/OWNERS
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, approved-dshchedr, lgtm-rnetser

#726 Add basic RHEL10 Instancetype VM lifecycle tests to smoke
  tests/infrastructure/instance_types/supported_os/test_rhel_os.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#720 [virt] add arm64 support for common template tests
  tests/global_config.py
  tests/global_config_arm64.py
  tests/os_params.py
  tests/virt/node/general/test_machinetype.py
  utilities/constants.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#742 tests, net, libs: Add missing '__init__.py' file
  tests/network/libs/__init__.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, sig-network, lgtm-rnetser

#744 [virt] fix get_oc_image_info sampler
  utilities/virt.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, commented-hmeir, commented-vsibirsk, approved-dshchedr

#690 [4.18][Upgrade] Allow user to choose subscription channel
  README.md
  conftest.py
  tests/install_upgrade_operators/product_upgrade/conftest.py
  utilities/operator.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, commented-jpeimer, tox:verify-bugs-are-open:passed, commented-geetikakay, commented-hmeir, lgtm-jpeimer, approved-vsibirsk, branch-cnv-4.18

#737 [Upgrade] Modify cnv upgrade MCP check for osbs source
  tests/install_upgrade_operators/product_upgrade/conftest.py
  tests/install_upgrade_operators/product_upgrade/test_upgrade.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#733 tests, net, libs, nncp: On update/patch, assure correct status update
  pyproject.toml
  tests/network/libs/nodenetworkconfigurationpolicy.py
Labels: verified, size/M, can-be-merged, branch-main, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-yossisegev, commented-EdDev, tox:verify-bugs-are-open:passed, lgtm-Anatw, lgtm-sbahar619, sig-network, lgtm-rnetser

#756 Remove jira reference 58483
  tests/install_upgrade_operators/must_gather/test_must_gather_vms.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, approved-vsibirsk, branch-cnv-4.18

#758 [4.19][Upgrade] Modify cnv upgrade MCP check for osbs source
  tests/install_upgrade_operators/product_upgrade/conftest.py
  tests/install_upgrade_operators/product_upgrade/test_upgrade.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, approved-vsibirsk

#748 s390x support for test container image
  containers/fedora/build.sh
  containers/utility/Dockerfile
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#401 Fixing kubevirt_cdi_clone_pods_high_restart test
  tests/observability/metrics/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, approved-vsibirsk

#760 add storage_class_matrix to arm64 global config
  tests/global_config_arm64.py
  utilities/constants.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-jpeimer, approved-dshchedr

#754 tests, net, libs: Introduce network cloud-init data structure
  tests/network/bond/test_l2_bridge_over_bond.py
  tests/network/libs/apimachinery.py
  tests/network/libs/cloudinit.py
  tests/network/libs/nodenetworkconfigurationpolicy.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-sbahar619, sig-network, approved-vsibirsk, lgtm-rnetser

#770 CherryPicked: [cnv-4.18] Replace running_vm with explicit VM start and agent check - connectivity module
  tests/network/connectivity/test_pod_network.py
  tests/network/connectivity/utils.py
Labels: verified, CherryPicked, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, branch-cnv-4.18

#735 Deprecate hco feature gates
  tests/install_upgrade_operators/constants.py
  tests/virt/cluster/aaq/conftest.py
  tests/virt/cluster/aaq/test_aaq_allocation_methods.py
  tests/virt/cluster/aaq/test_acrq.py
  tests/virt/cluster/aaq/test_arq.py
  tests/virt/upgrade_custom/aaq/conftest.py
  tests/virt/upgrade_custom/aaq/test_upgrade_virt_aaq.py
  tests/virt/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#722 support for multiple archs for the Images class
  README.md
  utilities/constants.py
Labels: verified, size/L, can-be-merged, branch-main, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk

#773 CherryPicked: [cnv-4.18] Triaging kubevirt_cdi_clone_pods_high_restart test (#401)
  tests/observability/metrics/conftest.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-vsibirsk, branch-cnv-4.18

#788 CherryPicked: [cnv-4.18] Improve logic to handle cluster preference with CPU spread options
  tests/infrastructure/instance_types/test_common_vm_preference.py
Labels: verified, CherryPicked, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#695 Added windows tests for TestVMIMetrics class and kubevirt_vm_info
  tests/observability/metrics/conftest.py
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-dshchedr

#749 [4.18] Use upgrade markers expliciity for test collection
  README.md
  conftest.py
  pytest.ini
  tests/conftest.py
  tests/install_upgrade_operators/product_upgrade/conftest.py
  tests/install_upgrade_operators/product_upgrade/test_eus_upgrade.py
  tests/install_upgrade_operators/product_upgrade/test_upgrade.py
  tests/install_upgrade_operators/product_upgrade/test_upgrade_iuo.py
  tests/network/upgrade/test_upgrade_network.py
  tests/storage/upgrade/test_upgrade_storage.py
  tests/upgrade_params.py
  tests/virt/upgrade/test_upgrade_virt.py
  tests/virt/upgrade_custom/aaq/test_upgrade_virt_aaq.py
  tox.ini
Labels: verified, size/L, can-be-merged, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, sig-network, approved-dshchedr, branch-cnv-4.18

#766 [4.19][Upgrade] Adjust automation to support gating upgrade test
  tests/install_upgrade_operators/product_upgrade/test_upgrade.py
  tests/virt/upgrade/conftest.py
  tests/virt/upgrade/test_upgrade_virt.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#777 Fix test_metric_kubevirt_vm_disk_allocated_size_bytes
  tests/observability/metrics/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#789 lockfile: update pytest-jira
  pyproject.toml
  uv.lock
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#791 [4.18] lockfile: update pytest-jira
  pyproject.toml
  uv.lock
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#768 [IUO] Ignore hco-bearer-token resource if jira open
  tests/install_upgrade_operators/strict_reconciliation/conftest.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_related_objects.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr

#786 [Virt] Separate test_legacy_machinetype as test_legacy_machinetype.py
  tests/virt/node/general/test_legacy_machinetype.py
  tests/virt/node/general/test_machinetype.py
  tests/virt/utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, commented-SiboWang1997, approved-dshchedr

#799 [4.18][IUO] Ignore hco-bearer-token resource if jira open
  tests/install_upgrade_operators/strict_reconciliation/conftest.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_related_objects.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18

#603 Update snapshot restore test
  tests/storage/snapshots/test_snapshots.py
Labels: verified, size/S, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, commented-stesrn

#711 Fix ServiceMesh tests and adjust to OSSM 3
  tests/network/service_mesh/conftest.py
  tests/network/utils.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-Anatw, lgtm-sbahar619, sig-network, approved-dshchedr, approved-EdDev

#795 tests, net, bond: Start VMs in parallel for faster test execution
  tests/network/bond/test_l2_bridge_over_bond.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-yossisegev, commented-EdDev, tox:verify-bugs-are-open:passed, sig-network, approved-vsibirsk, approved-EdDev

#705 Must gather fix flags and node role
  tests/install_upgrade_operators/must_gather/conftest.py
  utilities/must_gather.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, tox:verify-bugs-are-open:passed, commented-hmeir, lgtm-jpeimer, commented-dshchedr, approved-dshchedr

#809 [VIRT] increase memory limits for virtqemud
  tests/virt/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-dbasunag, lgtm-jerry7z

#811 [VIRT] combine cluster and node reviewers list
  tests/virt/OWNERS
  tests/virt/cluster/OWNERS
  tests/virt/node/OWNERS
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-dbasunag

#819 CherryPicked: [cnv-4.18] [VIRT] combine cluster and node reviewers list
  tests/virt/OWNERS
  tests/virt/cluster/OWNERS
  tests/virt/node/OWNERS
Labels: verified, CherryPicked, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, branch-cnv-4.18

#784 Update csv permissions and operators
  tests/install_upgrade_operators/csv/csv_permissions_audit/csv-permissions.yaml
  utilities/constants.py
Labels: verified, size/XL, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-dbasunag

#858 add 4.20.0 target ver to tox
  tox.ini
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-vsibirsk, lgtm-dbasunag

#832 [4.18]Must gather fix flags and node role
  tests/install_upgrade_operators/must_gather/conftest.py
  utilities/must_gather.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, approved-vsibirsk, branch-cnv-4.18

#856 update poetry and pyproject
  pyproject.toml
  uv.lock
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-vsibirsk, lgtm-dbasunag

#830 tests, net, l2_bridge: Drop usage of 'running_vm'
  tests/network/l2_bridge/conftest.py
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
  tests/network/l2_bridge/test_ovs_bridge.py
  tests/network/l2_bridge/utils.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-dshchedr, approved-EdDev

#544 Virt: Add arm marker and mark related tests
  pytest.ini
  tests/virt/cluster/aaq/test_aaq_allocation_methods.py
  tests/virt/cluster/aaq/test_acrq.py
  tests/virt/cluster/aaq/test_arq.py
  tests/virt/cluster/common_templates/rhel/test_rhel_os_support.py
  tests/virt/cluster/migration_and_maintenance/test_evictionstrategy.py
  tests/virt/cluster/migration_and_maintenance/test_migration_policy.py
  tests/virt/cluster/operator_tests/test_critical_pods.py
  tests/virt/cluster/operator_tests/test_ssp_custom_resources.py
  tests/virt/cluster/vm_cloning/test_vm_cloning.py
  tests/virt/cluster/vm_lifecycle/test_restart.py
  tests/virt/cluster/vm_lifecycle/test_vm_run_strategy.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-kbidarkar

#793 Introduce `wait_for_agent_connected` method
  libs/vm/vm.py
  tests/network/bond/test_l2_bridge_over_bond.py
  tests/network/connectivity/test_pod_network.py
  tests/network/connectivity/utils.py
  tests/network/user_defined_network/test_user_defined_network.py
  utilities/virt.py
Labels: verified, size/M, can-be-merged, branch-main, commented-dbasunag, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, lgtm-yossisegev, commented-EdDev, tox:verify-bugs-are-open:passed, commented-dshchedr, sig-network, approved-dshchedr, approved-vsibirsk, approved-EdDev

#715 Virt: Add arm related tests on virt-node component
  tests/virt/node/cpu_sockets_threads/test_cpu_support_sockets_threads.py
  tests/virt/node/general/test_cloud_init_vm.py
  tests/virt/node/general/test_container_disk_vm.py
  tests/virt/node/general/test_networkinterfacemultiqueue_feature.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-kbidarkar

#876 tests, net, libs, nncp: Assure NNCP resource exists, status & conditions absense is treated correctly.
  tests/network/libs/nodenetworkconfigurationpolicy.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-sbahar619, sig-network, lgtm-rnetser, approved-EdDev, lgtm-myakove

#817 [4.18] Update uv packages
  pyproject.toml
  uv.lock
Labels: verified, size/XXL, can-be-merged, commented-dbasunag, changes-requested-myakove, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-dshchedr, approved-vsibirsk, branch-cnv-4.18

#878 tests, net, owners: Add EdDev to the reviewers list
  tests/network/OWNERS
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-dshchedr, approved-EdDev

#869 [IUO] update gating tests
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_custom_golden_images_namespace.py
  tests/install_upgrade_operators/resource_params/test_hco_status_conditions.py
  tests/install_upgrade_operators/strict_reconciliation/test_operator_defaults.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-polarion-jenkins, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr
