Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-10, with the labels that each got.

#2209 [Install] Add missing resources
  tests/install_upgrade_operators/product_install/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot, sig-iuo

#2205 [Upgrade] Align EUS upgrade with additional channels
  tests/install_upgrade_operators/product_upgrade/conftest.py
  tests/install_upgrade_operators/product_upgrade/test_eus_upgrade.py
  tests/install_upgrade_operators/product_upgrade/utils.py
  utilities/operator.py
Labels: verified, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, approved-dshchedr, branch-cnv-4.18, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#2219 [4.19] Quarantine flaky test_dhcp_broadcast[#ovs-bridge#]
  tests/network/l2_bridge/test_l2_ovs_linux_bridge.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, approved-EdDev, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19, lgtm-servolkov

#2233 Github action to add a comment for coderabbit to propose a list of existing tests to verify the pr
  .github/workflows/request-coderabbit-test-instructions.yml
Labels: verified, size/M, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-rnetser

#2261 request-coderabbit-test-instructions use BOT3_TOKEN token and get pr owner to check membership
  .github/workflows/request-coderabbit-test-instructions.yml
Labels: size/XS, branch-main

#2267 update check-user-team condition
  .github/workflows/request-coderabbit-test-instructions.yml
Labels: size/XS, branch-main

#1677 Mark chaos tests for s390x
  tests/chaos/migration/test_migration.py
  tests/chaos/snapshot/test_snapshot.py
  tests/chaos/standard/test_standard.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, sig-chaos

#2281 Add bot's token to action for test plan comment
  .github/workflows/request-coderabbit-test-instructions.yml
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:failed, changes-requested-openshift-virtualization-qe-bot
