Repository RedHatQE/openshift-virtualization-tests, pull requests merged in 2025-07, with the labels that each got.

#1311 Remove IUO bugs on 4.20
  tests/install_upgrade_operators/crds_cluster_readers_role/test_crds_cluster_readers_role.py
  tests/install_upgrade_operators/feature_gates/test_default_featuregates.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/conftest.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_custom_golden_images_namespace.py
  tests/install_upgrade_operators/hco_enablement_golden_image_updates/test_delete_hco_pod.py
  tests/install_upgrade_operators/strict_reconciliation/test_hco_related_objects.py
  tests/install_upgrade_operators/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-OhadRevah, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1343 Add rlobillo as member of the IUO team
  tests/install_upgrade_operators/OWNERS
  tests/network/upgrade/OWNERS
  tests/observability/OWNERS
  tests/storage/upgrade/OWNERS
  tests/virt/upgrade/OWNERS
Labels: size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-OhadRevah, sig-network, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1328 revert changes for non_existent_mdev_bus_nodes (#1251)
  tests/virt/conftest.py
  tests/virt/utils.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19, cherry-pick-cnv-4.18

#1349 [CNV-64474] Adjust Observability and IUO bugs IDs to 4.19.z fixVersion
  tests/install_upgrade_operators/strict_reconciliation/conftest.py
  tests/observability/metrics/conftest.py
  tests/observability/metrics/test_instance_type_metrics.py
  tests/observability/metrics/test_metrics.py
  tests/observability/metrics/test_migration_metrics.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1371 [CNV-64462]Add enableMultiArchCommonBootImageImport FG
  tests/install_upgrade_operators/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot

#1354 revert changes for non_existent_mdev_bus_nodes (#1251) (#1328)
  tests/virt/conftest.py
  tests/virt/utils.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-dshchedr, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot

#1373 Quarantine test class TestVmFreeMemoryBytes
  tests/observability/metrics/test_vms_metrics.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-hmeir, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1224 Storage: tests for storage migration of Windows VM with vTPM
  tests/storage/snapshots/conftest.py
  tests/storage/snapshots/test_snapshots.py
  tests/storage/snapshots/utils.py
  tests/storage/storage_migration/conftest.py
  tests/storage/storage_migration/constants.py
  tests/storage/storage_migration/test_mtc_storage_class_migration.py
  tests/storage/storage_migration/utils.py
  tests/storage/utils.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-Ahmad-Hafe, lgtm-duyanyan, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1368 Virt:Replace the jira card cause find another issue relevant login time
  tests/virt/cluster/common_templates/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, approved-vsibirsk, lgtm-rnetser, lgtm-openshift-virtualization-qe-bot

#1377 [IUO] Add sriov marker
  tests/install_upgrade_operators/must_gather/test_must_gather.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-OhadRevah, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1303 [4.19] Update Cirros image to Fedora into test_clone.py
  tests/storage/cdi_clone/conftest.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/conftest.py
  tests/storage/utils.py
  utilities/storage.py
Labels: verified, size/L, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-hmeir, approved-vsibirsk, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1358 Refactor test_rhel_os.py
  tests/infrastructure/instance_types/conftest.py
  tests/infrastructure/instance_types/supported_os/conftest.py
  tests/infrastructure/instance_types/supported_os/test_rhel_os.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-geetikakay, commented-RoniKishner, lgtm-geetikakay, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1405 [4.18]Virt: Drop the cpu and memory hotplug cases with post-copy migration
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
Labels: verified, size/S, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-hmeir, approved-vsibirsk, branch-cnv-4.18, lgtm-openshift-virtualization-qe-bot

#1397 [Infrastructure][4.19] Fix jira references
  tests/infrastructure/instance_types/test_common_vm_instancetype.py
  tests/infrastructure/workload_availability/remediation_fencing/conftest.py
  tests/infrastructure/workload_availability/remediation_fencing/test_nodehealthcheck_default_remediation.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1419 Add gcnv-flex storage class
  tests/global_config_gcp.py
  utilities/constants.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1364 Give grace for connectivity process to appear
  libs/net/traffic_generator.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, lgtm-servolkov

#1425 Remove jira marker for instanceType tests
  tests/observability/metrics/constants.py
  tests/observability/metrics/test_instance_type_metrics.py
  tests/observability/metrics/utils.py
  utilities/constants.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1346 net,hotplug: adjust tests to VMRolloutStrategy
  libs/net/vmspec.py
  tests/network/l2_bridge/test_bridge_nic_hot_plug.py
  tests/network/l2_bridge/utils.py
Labels: verified, size/L, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, approved-EdDev, lgtm-openshift-virtualization-qe-bot

#1414 [4.19] [VIRT] Add post-copy migration test to upgrade scope (#1336)
  tests/virt/constants.py
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
  tests/virt/upgrade/conftest.py
  tests/virt/upgrade/test_upgrade_virt.py
  tests/virt/utils.py
Labels: verified, size/M, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1421 [virt] fix windows user login test
  tests/virt/cluster/common_templates/utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-geetikakay, approved-vsibirsk, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, lgtm-SiboWang1997

#1444 Storage: use cirros back in smoke and gating clone tests
  tests/storage/cdi_clone/conftest.py
  tests/storage/cdi_clone/test_clone.py
  tests/storage/conftest.py
  tests/storage/utils.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1442 Remove FLAVOR_STR from EXPECTED_NAMESPACE_INSTANCE_TYPE_LABELS
  tests/observability/metrics/constants.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1466 [4.19] Storage: fix create_vm_from_dv default args
  utilities/storage.py
Labels: verified, size/XS, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1462 Add SR-IOV interface verification upon VM restart
  tests/network/sriov/conftest.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-Anatw, sig-network, approved-EdDev, lgtm-openshift-virtualization-qe-bot, lgtm-servolkov

#1472 Refactor test name
  tests/network/service_mesh/test_service_mesh.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-yossisegev, tox:verify-bugs-are-open:passed, lgtm-EdDev, sig-network, approved-EdDev, lgtm-openshift-virtualization-qe-bot, lgtm-servolkov

#1490 4.99 cherry-pick: add missing push step
  .github/workflows/cherrypick-to-4.99.yml
Labels: size/XS, branch-main, lgtm-vsibirsk, approved-vsibirsk, commented-coderabbitai[bot]

#1498 Refactor cherrypick to 4.99
  .github/workflows/cherrypick-to-4.99.yml
Labels: size/L, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed

#1504 cherry-pick: add `action` as permissions
  .github/workflows/cherrypick-to-4.99.yml
Labels: size/XS, branch-main, commented-coderabbitai[bot]

#1508 gh cherrypick: use pat for workflow
  .github/workflows/cherrypick-to-4.99.yml
Labels: size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-openshift-virtualization-qe-bot

#1470 Add hugepages check for cx1 instancetype tests
  tests/infrastructure/instance_types/test_common_vm_instancetype.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-RoniKishner, lgtm-rnetser, approved-rnetser

#1526 cherry-pick 4.99: fix to support no changes to main
  .github/workflows/cherrypick-to-4.99.yml
Labels: size/L, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-openshift-virtualization-qe-bot

#1417 Refactor: move functions/fixtures/constants in instance_type/supported_os
  tests/global_config.py
  tests/infrastructure/instance_types/supported_os/conftest.py
  tests/infrastructure/instance_types/supported_os/constants.py
  tests/infrastructure/instance_types/supported_os/test_rhel_os.py
  tests/infrastructure/instance_types/supported_os/utils.py
  utilities/constants.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1238 Cross Cluster Live Migration: add remote client
  conftest.py
  pytest.ini
  tests/cross_cluster_live_migration/README.md
  tests/cross_cluster_live_migration/__init__.py
  tests/cross_cluster_live_migration/conftest.py
  utilities/constants.py
Labels: verified, size/L, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, commented-jpeimer, tox:verify-bugs-are-open:passed, lgtm-rnetser, commented-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1547 cherry-pick: update commit message to be empty in create-pull-request
  .github/workflows/cherrypick-to-4.99.yml
Labels: size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-openshift-virtualization-qe-bot

#1549 [VIRT] fix for ARQ test
  tests/virt/cluster/aaq/utils.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, approved-vsibirsk, commented-coderabbitai[bot], lgtm-openshift-virtualization-qe-bot, lgtm-SiboWang1997

#1529 Remove preferred storage test 10328
  tests/conftest.py
  tests/infrastructure/instance_types/test_vm_preference.py
  tests/storage/storage_migration/conftest.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-geetikakay, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1543 Remove test for none existing instance type
  tests/infrastructure/instance_types/test_update_vm_with_instancetype_preference.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, commented-geetikakay, commented-RoniKishner, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1553 Storage: remove dependencies from test
  tests/storage/data_import_cron/test_data_import_cron_pvc_source.py
Labels: verified, size/XS, can-be-merged, branch-main, approved-jpeimer, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-openshift-virtualization-qe-bot

#1576 disable wffc gcp gcnv sc config
  tests/global_config_gcp.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1583 [4.19]Remove jira marker for instanceType tests
  tests/observability/metrics/test_instance_type_metrics.py
Labels: verified, size/XS, can-be-merged, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot, branch-cnv-4.19

#1460 Set random VM password to avoid dependency on bitwarden when possible
  utilities/console.py
  utilities/infra.py
  utilities/virt.py
Labels: verified, size/M, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-geetikakay, approved-dshchedr, lgtm-openshift-virtualization-qe-bot

#1408 Triage kubevirt_cnao_operator_up
  tests/observability/network/conftest.py
  tests/observability/network/test_cnao_observability.py
Labels: verified, size/S, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-dshchedr, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1614 add exception raise for project teardown
  utilities/infra.py
Labels: verified, size/XS, branch-main, tox:verify-tc-requirement-polarion:passed, tox:verify-bugs-are-open:passed, lgtm-jpeimer, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1596 Storage: remove flaky tests from gating
  tests/storage/test_data_import_cron.py
  tests/storage/test_scratch_space.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-rnetser, commented-coderabbitai[bot], approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1605 [VIRT] Fix for post-copy hotplug tests
  tests/virt/node/migration_and_maintenance/test_post_copy_migration.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, commented-akri3i, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1616 Virt: Skip win-2016 matrix cause guest agent bug
  tests/virt/cluster/common_templates/conftest.py
  tests/virt/cluster/common_templates/windows/test_windows_os_support.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, lgtm-dshchedr, tox:verify-bugs-are-open:passed, approved-vsibirsk, lgtm-openshift-virtualization-qe-bot

#1632 Revert "Update Fedora OS to fedora42 for x86_64 (#1566)"
  libs/infra/images.py
  tests/global_config_x86_64.py
  tests/infrastructure/golden_images/conftest.py
  utilities/constants.py
  utilities/os_utils.py
Labels: verified, size/XS, can-be-merged, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-vsibirsk, tox:verify-bugs-are-open:passed, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot

#1603 tests, net: Move service-mesh helpers from net/utils to net/mesh/utils
  tests/network/service_mesh/conftest.py
  tests/network/service_mesh/test_service_mesh.py
  tests/network/service_mesh/utils.py
  tests/network/utils.py
Labels: verified, size/L, branch-main, tox:verify-tc-requirement-polarion:passed, lgtm-yossisegev, tox:verify-bugs-are-open:passed, sig-network, lgtm-rnetser, approved-rnetser, lgtm-openshift-virtualization-qe-bot
